In [1]:
# pip install html5lib

Requirement already satisfied: html5lib in c:\users\black\anaconda3\envs\dev\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\black\anaconda3\envs\dev\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\black\anaconda3\envs\dev\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import pickle

In [6]:
# URL of the QB earnings data:
url = "https://overthecap.com/career-earnings/quarterback"

# Send a GET request to the URL
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the HTML content
    soup = BeautifulSoup(response.content, 'html5lib')
    # Find the table
    table = soup.find('table')
    # Read table into a pandas DataFrame
    df = pd.read_html(str(table))[0]

else:
    print("Failed to retrieve the page")

# Display the DataFrame
display(df.head())
display(df.info())

,Player,Years Active,Career Earnings,Cap-Inflated Earnings,Earnings By Team
0,Aaron Rodgers,2005‑,"$343,531,094","$546,133,077","Packers: $306,642,206 Jets: $36,888,888"
1,Matt Stafford,2009‑,"$328,000,000","$507,909,318","Lions: $219,000,000 Rams: $109,000,000"
2,Tom Brady,2000‑2022,"$317,619,794","$600,482,947","Patriots: $230,324,206 Buccaneers: $87,295,588"
3,Matt Ryan,2008‑2022,"$306,205,882","$501,677,687","Falcons: $269,500,000 Colts: $36,705,882"
4,Russell Wilson,2012‑,"$305,340,123","$408,432,196","Seahawks: $181,340,123 Broncos: $124,000,000"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 391 entries, 0 to 390
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Player                 391 non-null    object
 1   Years Active           391 non-null    object
 2   Career Earnings        391 non-null    object
 3   Cap-Inflated Earnings  391 non-null    object
 4   Earnings By Team       391 non-null    object
dtypes: object(5)
memory usage: 15.4+ KB

None

In [9]:
#Export csv
csv_path = "Resources/qb_earnings_data.csv"
df.to_csv(csv_path, index=False)

In [ ]:
# Import CSV
# df = pd.read_csv(csv_path)

In [10]:
# Save as Pickle; pickle.dump to store data
pickle_path = 'Resources/acclaimed_albums_genres.pkl'
with open(pickle_path, 'wb') as file:
    pickle.dump(df, file)

In [ ]:
# Reload Dataframe from pkl file, with rb 'read binary'
# with open(pickle_path', 'rb') as file:
#     df = pickle.load(file)