In [84]:
import pandas as pd

from [jacklich10/nfl_draft_data:](https://github.com/jacklich10/nfl-draft-data)

If you attempt to read in the .csv files in R with the commonly used readr::read_csv function, please use the parameter guess_max = 13000 to avoid parsing errors (this has to do with how readr guesses column types using only the first 1000 rows). Alternatively, use the read.csv function which will handle this without intervention.

from https://github.com/jacklich10/nfl-draft-data: 

If you are joining the datasets together, the value player_id is uniquely identified across all data. 
Be wary of pos_abbr, as the abbreviations sometimes (though rarely) differ across datasets. I have had no issues with school, school_name, and school_abbr, but player_id will always join the data correctly.

If you are joining in ESPN college QBR statistics from college_qbr.csv, join by guid and player_name

In [85]:
# Import CSV for Profiles

# NFL draft player profile data from ESPN dating back to 1967 (4000 profiles)
csv_profiles = r"Resources\nfl_draft_profiles.csv"
profiles_df = pd.read_csv(csv_profiles) 
display('/n draft_profiles:')
display(profiles_df.head())
display(profiles_df.info())

'/n draft_profiles:'

,player_id,guid,alt_player_id,player_name,position,pos_abbr,weight,height,player_image,link,...,school,school_abbr,school_name,pos_rk,ovr_rk,grade,text1,text2,text3,text4
0,23590,NaN,NaN,Bubba Smith,Defensive End,DE,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Michigan State,MSU,Spartans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23591,NaN,NaN,Clinton Jones,Running Back,RB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Michigan State,MSU,Spartans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23592,NaN,NaN,Steve Spurrier,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Florida,FLA,Gators,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23593,NaN,NaN,Bob Griese,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Purdue,PUR,Boilermakers,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23594,NaN,NaN,George Webster,Linebacker,LB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Michigan State,MSU,Spartans,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12905 entries, 0 to 12904
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_id      12905 non-null  int64
 1   guid           5949 non-null   object
 2   alt_player_id  5882 non-null   float64
 3   player_name    12905 non-null  object
 4   position       12905 non-null  object
 5   pos_abbr       12905 non-null  object
 6   weight         12905 non-null  int64
 7   height         12905 non-null  float64
 8   player_image   1506 non-null   object
 9   link           12905 non-null  object
 10  school_logo    12485 non-null  object
 11  school         12905 non-null  object
 12  school_abbr    12867 non-null  object
 13  school_name    12895 non-null  object
 14  pos_rk         5761 non-null   float64
 15  ovr_rk         5100 non-null   float64
 16  grade          5767 non-null   float64
 17  text1          2992 non-null   object
 18  text2          3848 non-null   object
 19  text3          534 non-null    object
 20  text4          2 non-null      object
dtypes: float64(5), int64(2), object(14)
memory usage: 2.1+ MB

None

nfl_draft_profiles.csv

Information on NFL draft prospects including pre-draft text analysis in columns text* for * in 1, 2, 3, 4
player_id (ESPN player id)

has all positions: reduce to just QB using pos_abbr = QB (and double check with Position)
this should have pos_rk ovr_rk and grade for more recent years. (around 5000 entries)
should have player draft evaluations for more recent years (around 2900 entries) (text1, text2...text4)

In [86]:
# Clean Draft Profiles data:
# Include only Q postion == 'Quarterback' or pos_abbr = 'QB'

# qb_profiles_df = profiles_df[
#     (profiles_df['position'] == 'Quarterback') & 
#     (profiles_df['pos_abbr'] == 'QB')]

qb_profiles_df = profiles_df.query("position =='Quarterback' or pos_abbr == 'QB'")

display(qb_profiles_df.head())
display(qb_profiles_df.info())
display(qb_profiles_df.columns)

,player_id,guid,alt_player_id,player_name,position,pos_abbr,weight,height,player_image,link,...,school,school_abbr,school_name,pos_rk,ovr_rk,grade,text1,text2,text3,text4
2,23592,NaN,NaN,Steve Spurrier,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Florida,FLA,Gators,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23593,NaN,NaN,Bob Griese,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Purdue,PUR,Boilermakers,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,23614,NaN,NaN,Don Horn,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,San Diego State,SDSU,Aztecs,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,23616,NaN,NaN,Bo Burris,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Houston,HOU,Cougars,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,23619,NaN,NaN,Bob Davis,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Virginia,UVA,Cavaliers,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Index: 601 entries, 2 to 12901
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_id      601 non-null    int64
 1   guid           290 non-null    object
 2   alt_player_id  289 non-null    float64
 3   player_name    601 non-null    object
 4   position       601 non-null    object
 5   pos_abbr       601 non-null    object
 6   weight         601 non-null    int64
 7   height         601 non-null    float64
 8   player_image   69 non-null     object
 9   link           601 non-null    object
 10  school_logo    589 non-null    object
 11  school         601 non-null    object
 12  school_abbr    600 non-null    object
 13  school_name    601 non-null    object
 14  pos_rk         268 non-null    float64
 15  ovr_rk         242 non-null    float64
 16  grade          268 non-null    float64
 17  text1          148 non-null    object
 18  text2          177 non-null    object
 19  text3          37 non-null     object
 20  text4          0 non-null      object
dtypes: float64(5), int64(2), object(14)
memory usage: 103.3+ KB

None

Index(['player_id', 'guid', 'alt_player_id', 'player_name', 'position',
       'pos_abbr', 'weight', 'height', 'player_image', 'link', 'school_logo',
       'school', 'school_abbr', 'school_name', 'pos_rk', 'ovr_rk', 'grade',
       'text1', 'text2', 'text3', 'text4'],
      dtype='object')

In [87]:
# Count NaN, 0 values in each column
nan_counts = qb_profiles_df.isna().sum()
zero_counts = (qb_profiles_df == 0).sum()

print("NaN values:\n", nan_counts)
print("\n0 values:\n", zero_counts)

NaN values:
 player_id          0
guid             311
alt_player_id    312
player_name        0
position           0
pos_abbr           0
weight             0
height             0
player_image     532
link               0
school_logo       12
school             0
school_abbr        1
school_name        0
pos_rk           333
ovr_rk           359
grade            333
text1            453
text2            424
text3            564
text4            601
dtype: int64

0 values:
 player_id          0
guid               0
alt_player_id      0
player_name        0
position           0
pos_abbr           0
weight           292
height           331
player_image       0
link               0
school_logo        0
school             0
school_abbr        0
school_name        0
pos_rk             0
ovr_rk             0
grade              0
text1              0
text2              0
text3              0
text4              0
dtype: int64

In [88]:
# Drop unnecessary columns: 
drop = ['position','player_image', 'link', 'school_logo',
       'school_abbr', 'school_name', 'text4']
qb_profiles_clean_df = qb_profiles_df.drop(columns=drop)
display(qb_profiles_clean_df.head())
# display(qb_profiles_clean_df.info())

,player_id,guid,alt_player_id,player_name,pos_abbr,weight,height,school,pos_rk,ovr_rk,grade,text1,text2,text3
2,23592,NaN,NaN,Steve Spurrier,QB,0,0.0,Florida,NaN,NaN,NaN,NaN,NaN,NaN
3,23593,NaN,NaN,Bob Griese,QB,0,0.0,Purdue,NaN,NaN,NaN,NaN,NaN,NaN
24,23614,NaN,NaN,Don Horn,QB,0,0.0,San Diego State,NaN,NaN,NaN,NaN,NaN,NaN
26,23616,NaN,NaN,Bo Burris,QB,0,0.0,Houston,NaN,NaN,NaN,NaN,NaN,NaN
29,23619,NaN,NaN,Bob Davis,QB,0,0.0,Virginia,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
#Export csv for Profiles
csv_path = r"Resources\nfl_draft_profiles_clean.csv"
qb_profiles_clean_df.to_csv(csv_path, index=False)

nfl_draft_prospects.csv

ESPN Information on previous NFL draft prospects dating back to 1967 (first year of the common draft). If the player has NA values for pick, overall, and round, it means he went undrafted or the draft has not occurred yet (for current year prospects).

In [90]:
# Import CSV for Prospects

# data on when a prospect was drafted, which team drafted them.
csv_prospects = r"Resources\nfl_draft_prospects.csv"
prospects_df = pd.read_csv(csv_prospects)

display('/n draft_prospects:')
display(prospects_df.head())
# display(prospects_df.info())

'/n draft_prospects:'

,draft_year,player_id,player_name,position,pos_abbr,school,school_name,school_abbr,link,pick,...,team,team_abbr,team_logo_espn,guid,weight,height,pos_rk,ovr_rk,grade,player_image
0,1967,23590,Bubba Smith,Defensive End,DE,Michigan State,Spartans,MSU,http://insider.espn.com/nfl/draft/player/_/id/...,1.0,...,Baltimore Colts,IND,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1967,23591,Clinton Jones,Running Back,RB,Michigan State,Spartans,MSU,http://insider.espn.com/nfl/draft/player/_/id/...,2.0,...,Minnesota Vikings,MIN,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1967,23592,Steve Spurrier,Quarterback,QB,Florida,Gators,FLA,http://insider.espn.com/nfl/draft/player/_/id/...,3.0,...,San Francisco 49ers,SF,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1967,23593,Bob Griese,Quarterback,QB,Purdue,Boilermakers,PUR,http://insider.espn.com/nfl/draft/player/_/id/...,4.0,...,Miami Dolphins,MIA,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1967,23594,George Webster,Linebacker,LB,Michigan State,Spartans,MSU,http://insider.espn.com/nfl/draft/player/_/id/...,5.0,...,Houston Oilers,TEN,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
qb_prospects_df = prospects_df.query("position =='Quarterback' or pos_abbr == 'QB'")

display(qb_prospects_df.head())
display(qb_prospects_df.info())
display(qb_prospects_df.columns)

,draft_year,player_id,player_name,position,pos_abbr,school,school_name,school_abbr,link,pick,...,team,team_abbr,team_logo_espn,guid,weight,height,pos_rk,ovr_rk,grade,player_image
2,1967,23592,Steve Spurrier,Quarterback,QB,Florida,Gators,FLA,http://insider.espn.com/nfl/draft/player/_/id/...,3.0,...,San Francisco 49ers,SF,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1967,23593,Bob Griese,Quarterback,QB,Purdue,Boilermakers,PUR,http://insider.espn.com/nfl/draft/player/_/id/...,4.0,...,Miami Dolphins,MIA,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1967,23614,Don Horn,Quarterback,QB,San Diego State,Aztecs,SDSU,http://insider.espn.com/nfl/draft/player/_/id/...,25.0,...,Green Bay Packers,GB,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1967,23616,Bo Burris,Quarterback,QB,Houston,Cougars,HOU,http://insider.espn.com/nfl/draft/player/_/id/...,1.0,...,New Orleans Saints,NO,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1967,23619,Bob Davis,Quarterback,QB,Virginia,Cavaliers,UVA,http://insider.espn.com/nfl/draft/player/_/id/...,4.0,...,Houston Oilers,TEN,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Index: 619 entries, 2 to 13350
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   draft_year      619 non-null    int64
 1   player_id       619 non-null    int64
 2   player_name     619 non-null    object
 3   position        619 non-null    object
 4   pos_abbr        619 non-null    object
 5   school          609 non-null    object
 6   school_name     609 non-null    object
 7   school_abbr     606 non-null    object
 8   link            619 non-null    object
 9   pick            555 non-null    float64
 10  overall         555 non-null    float64
 11  round           555 non-null    float64
 12  traded          555 non-null    object
 13  trade_note      222 non-null    object
 14  team            555 non-null    object
 15  team_abbr       555 non-null    object
 16  team_logo_espn  554 non-null    object
 17  guid            299 non-null    object
 18  weight          281 non-null    float64
 19  height          280 non-null    float64
 20  pos_rk          278 non-null    float64
 21  ovr_rk          248 non-null    float64
 22  grade           278 non-null    float64
 23  player_image    70 non-null     object
dtypes: float64(8), int64(2), object(14)
memory usage: 120.9+ KB

None

Index(['draft_year', 'player_id', 'player_name', 'position', 'pos_abbr',
       'school', 'school_name', 'school_abbr', 'link', 'pick', 'overall',
       'round', 'traded', 'trade_note', 'team', 'team_abbr', 'team_logo_espn',
       'guid', 'weight', 'height', 'pos_rk', 'ovr_rk', 'grade',
       'player_image'],
      dtype='object')

In [92]:
# Count NaN, 0 values in each column
nan_counts = qb_prospects_df.isna().sum()
zero_counts = (qb_prospects_df == 0).sum()

print("NaN values:\n", nan_counts)
print("\n0 values:\n", zero_counts)

NaN values:
 draft_year          0
player_id           0
player_name         0
position            0
pos_abbr            0
school             10
school_name        10
school_abbr        13
link                0
pick               64
overall            64
round              64
traded             64
trade_note        397
team               64
team_abbr          64
team_logo_espn     65
guid              320
weight            338
height            339
pos_rk            341
ovr_rk            371
grade             341
player_image      549
dtype: int64

0 values:
 draft_year          0
player_id           0
player_name         0
position            0
pos_abbr            0
school              0
school_name         0
school_abbr         0
link                0
pick                0
overall             0
round               0
traded            497
trade_note          0
team                0
team_abbr           0
team_logo_espn      0
guid                0
weight              0
height              0
pos_rk              0
ovr_rk              0
grade               0
player_image        0
dtype: int64

In [93]:
drop = ['position', 'school_name', 'school_abbr', 'link', 'team_logo_espn','player_image']

qb_prospects_clean_df = qb_prospects_df.drop(columns=drop)
display(qb_prospects_clean_df.head())
display(qb_prospects_clean_df.info())

,draft_year,player_id,player_name,pos_abbr,school,pick,overall,round,traded,trade_note,team,team_abbr,guid,weight,height,pos_rk,ovr_rk,grade
2,1967,23592,Steve Spurrier,QB,Florida,3.0,3.0,1.0,False,from Atlanta,San Francisco 49ers,SF,NaN,NaN,NaN,NaN,NaN,NaN
3,1967,23593,Bob Griese,QB,Purdue,4.0,4.0,1.0,False,NaN,Miami Dolphins,MIA,NaN,NaN,NaN,NaN,NaN,NaN
24,1967,23614,Don Horn,QB,San Diego State,25.0,25.0,1.0,False,NaN,Green Bay Packers,GB,NaN,NaN,NaN,NaN,NaN,NaN
26,1967,23616,Bo Burris,QB,Houston,1.0,27.0,2.0,False,NaN,New Orleans Saints,NO,NaN,NaN,NaN,NaN,NaN,NaN
29,1967,23619,Bob Davis,QB,Virginia,4.0,30.0,2.0,False,NaN,Houston Oilers,TEN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Index: 619 entries, 2 to 13350
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   draft_year   619 non-null    int64
 1   player_id    619 non-null    int64
 2   player_name  619 non-null    object
 3   pos_abbr     619 non-null    object
 4   school       609 non-null    object
 5   pick         555 non-null    float64
 6   overall      555 non-null    float64
 7   round        555 non-null    float64
 8   traded       555 non-null    object
 9   trade_note   222 non-null    object
 10  team         555 non-null    object
 11  team_abbr    555 non-null    object
 12  guid         299 non-null    object
 13  weight       281 non-null    float64
 14  height       280 non-null    float64
 15  pos_rk       278 non-null    float64
 16  ovr_rk       248 non-null    float64
 17  grade        278 non-null    float64
dtypes: float64(8), int64(2), object(8)
memory usage: 91.9+ KB

None

In [69]:
#Export csv for Prospects
csv_path = r"Resources\nfl_draft_prospects_clean.csv"
qb_prospects_clean_df.to_csv(csv_path, index=False)

In [94]:
# merge data for Profiles and prospects.
# Prospects will be primary table:
# Take Profiles duplicate data and add a suffix to each column name to identify profile
qb_profiles_clean_df = qb_profiles_clean_df.add_suffix('_prof')
display(qb_profiles_clean_df.head())

,player_id_prof,guid_prof,alt_player_id_prof,player_name_prof,pos_abbr_prof,weight_prof,height_prof,school_prof,pos_rk_prof,ovr_rk_prof,grade_prof,text1_prof,text2_prof,text3_prof
2,23592,NaN,NaN,Steve Spurrier,QB,0,0.0,Florida,NaN,NaN,NaN,NaN,NaN,NaN
3,23593,NaN,NaN,Bob Griese,QB,0,0.0,Purdue,NaN,NaN,NaN,NaN,NaN,NaN
24,23614,NaN,NaN,Don Horn,QB,0,0.0,San Diego State,NaN,NaN,NaN,NaN,NaN,NaN
26,23616,NaN,NaN,Bo Burris,QB,0,0.0,Houston,NaN,NaN,NaN,NaN,NaN,NaN
29,23619,NaN,NaN,Bob Davis,QB,0,0.0,Virginia,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# merge cells with an outer join and investigate any mismatched data:

qb_df2 = qb_prospects_clean_df.merge(qb_profiles_clean_df, indicator = True, how = 'outer', left_on='player_id', right_on='player_id_prof')
display(qb_df2.head())

# remove shared rows and print differences between DataFrames.
qb_diff_df2 = qb_df2.loc[lambda x: x['_merge'] != 'both']
display(qb_diff_df2.head())

In [104]:
# merge cells on player_id = player_id_prof

qb_df = pd.merge(qb_prospects_clean_df, qb_profiles_clean_df, left_on='player_id', right_on='player_id_prof')

# Display the merged DataFrame, then check the row counts to see if any data was lost.
display(qb_df.head())

display('QB Prospects info:')
display(qb_prospects_clean_df.info())

display('QB Profiles (prof) info:')
display(qb_profiles_clean_df.info())

display('Combined info:')
display(qb_df.info())

,draft_year,player_id,player_name,pos_abbr,school,pick,overall,round,traded,trade_note,...,pos_abbr_prof,weight_prof,height_prof,school_prof,pos_rk_prof,ovr_rk_prof,grade_prof,text1_prof,text2_prof,text3_prof
0,1967,23592,Steve Spurrier,QB,Florida,3.0,3.0,1.0,False,from Atlanta,...,QB,0,0.0,Florida,NaN,NaN,NaN,NaN,NaN,NaN
1,1967,23593,Bob Griese,QB,Purdue,4.0,4.0,1.0,False,NaN,...,QB,0,0.0,Purdue,NaN,NaN,NaN,NaN,NaN,NaN
2,1967,23614,Don Horn,QB,San Diego State,25.0,25.0,1.0,False,NaN,...,QB,0,0.0,San Diego State,NaN,NaN,NaN,NaN,NaN,NaN
3,1967,23616,Bo Burris,QB,Houston,1.0,27.0,2.0,False,NaN,...,QB,0,0.0,Houston,NaN,NaN,NaN,NaN,NaN,NaN
4,1967,23619,Bob Davis,QB,Virginia,4.0,30.0,2.0,False,NaN,...,QB,0,0.0,Virginia,NaN,NaN,NaN,NaN,NaN,NaN

'QB Prospects info:'

<class 'pandas.core.frame.DataFrame'>
Index: 619 entries, 2 to 13350
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   draft_year   619 non-null    int64
 1   player_id    619 non-null    int64
 2   player_name  619 non-null    object
 3   pos_abbr     619 non-null    object
 4   school       609 non-null    object
 5   pick         555 non-null    float64
 6   overall      555 non-null    float64
 7   round        555 non-null    float64
 8   traded       555 non-null    object
 9   trade_note   222 non-null    object
 10  team         555 non-null    object
 11  team_abbr    555 non-null    object
 12  guid         299 non-null    object
 13  weight       281 non-null    float64
 14  height       280 non-null    float64
 15  pos_rk       278 non-null    float64
 16  ovr_rk       248 non-null    float64
 17  grade        278 non-null    float64
dtypes: float64(8), int64(2), object(8)
memory usage: 91.9+ KB

None

'QB Profiles (prof) info:'

<class 'pandas.core.frame.DataFrame'>
Index: 601 entries, 2 to 12901
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   player_id_prof      601 non-null    int64
 1   guid_prof           290 non-null    object
 2   alt_player_id_prof  289 non-null    float64
 3   player_name_prof    601 non-null    object
 4   pos_abbr_prof       601 non-null    object
 5   weight_prof         601 non-null    int64
 6   height_prof         601 non-null    float64
 7   school_prof         601 non-null    object
 8   pos_rk_prof         268 non-null    float64
 9   ovr_rk_prof         242 non-null    float64
 10  grade_prof          268 non-null    float64
 11  text1_prof          148 non-null    object
 12  text2_prof          177 non-null    object
 13  text3_prof          37 non-null     object
dtypes: float64(5), int64(2), object(7)
memory usage: 70.4+ KB

None

'Combined info:'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   draft_year          601 non-null    int64
 1   player_id           601 non-null    int64
 2   player_name         601 non-null    object
 3   pos_abbr            601 non-null    object
 4   school              591 non-null    object
 5   pick                537 non-null    float64
 6   overall             537 non-null    float64
 7   round               537 non-null    float64
 8   traded              537 non-null    object
 9   trade_note          216 non-null    object
 10  team                537 non-null    object
 11  team_abbr           537 non-null    object
 12  guid                290 non-null    object
 13  weight              271 non-null    float64
 14  height              270 non-null    float64
 15  pos_rk              268 non-null    float64
 16  ovr_rk              242 non-null    float64
 17  grade               268 non-null    float64
 18  player_id_prof      601 non-null    int64
 19  guid_prof           290 non-null    object
 20  alt_player_id_prof  289 non-null    float64
 21  player_name_prof    601 non-null    object
 22  pos_abbr_prof       601 non-null    object
 23  weight_prof         601 non-null    int64
 24  height_prof         601 non-null    float64
 25  school_prof         601 non-null    object
 26  pos_rk_prof         268 non-null    float64
 27  ovr_rk_prof         242 non-null    float64
 28  grade_prof          268 non-null    float64
 29  text1_prof          148 non-null    object
 30  text2_prof          177 non-null    object
 31  text3_prof          37 non-null     object
dtypes: float64(13), int64(4), object(15)
memory usage: 150.4+ KB

None

In [105]:
# merge cells first on player_id = player_id_prof, then on player_name = player_name_prof 
# and verify completeness of the merge.

qb_df = pd.merge(qb_prospects_clean_df, qb_profiles_clean_df, left_on='player_id', right_on='player_id_prof')

# Display the merged DataFrame, then check the row counts to see if any data was lost.
display(qb_df.head())

display('QB Prospects info:')
display(qb_prospects_clean_df.info())

display('QB Profiles (prof) info:')
display(qb_profiles_clean_df.info())

display('Combined info:')
display(qb_df.info())

,draft_year,player_id,player_name,pos_abbr,school,pick,overall,round,traded,trade_note,...,pos_abbr_prof,weight_prof,height_prof,school_prof,pos_rk_prof,ovr_rk_prof,grade_prof,text1_prof,text2_prof,text3_prof
0,1967,23592,Steve Spurrier,QB,Florida,3.0,3.0,1.0,False,from Atlanta,...,QB,0,0.0,Florida,NaN,NaN,NaN,NaN,NaN,NaN
1,1967,23593,Bob Griese,QB,Purdue,4.0,4.0,1.0,False,NaN,...,QB,0,0.0,Purdue,NaN,NaN,NaN,NaN,NaN,NaN
2,1967,23614,Don Horn,QB,San Diego State,25.0,25.0,1.0,False,NaN,...,QB,0,0.0,San Diego State,NaN,NaN,NaN,NaN,NaN,NaN
3,1967,23616,Bo Burris,QB,Houston,1.0,27.0,2.0,False,NaN,...,QB,0,0.0,Houston,NaN,NaN,NaN,NaN,NaN,NaN
4,1967,23619,Bob Davis,QB,Virginia,4.0,30.0,2.0,False,NaN,...,QB,0,0.0,Virginia,NaN,NaN,NaN,NaN,NaN,NaN

'QB Prospects info:'

<class 'pandas.core.frame.DataFrame'>
Index: 619 entries, 2 to 13350
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   draft_year   619 non-null    int64
 1   player_id    619 non-null    int64
 2   player_name  619 non-null    object
 3   pos_abbr     619 non-null    object
 4   school       609 non-null    object
 5   pick         555 non-null    float64
 6   overall      555 non-null    float64
 7   round        555 non-null    float64
 8   traded       555 non-null    object
 9   trade_note   222 non-null    object
 10  team         555 non-null    object
 11  team_abbr    555 non-null    object
 12  guid         299 non-null    object
 13  weight       281 non-null    float64
 14  height       280 non-null    float64
 15  pos_rk       278 non-null    float64
 16  ovr_rk       248 non-null    float64
 17  grade        278 non-null    float64
dtypes: float64(8), int64(2), object(8)
memory usage: 91.9+ KB

None

'QB Profiles (prof) info:'

<class 'pandas.core.frame.DataFrame'>
Index: 601 entries, 2 to 12901
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   player_id_prof      601 non-null    int64
 1   guid_prof           290 non-null    object
 2   alt_player_id_prof  289 non-null    float64
 3   player_name_prof    601 non-null    object
 4   pos_abbr_prof       601 non-null    object
 5   weight_prof         601 non-null    int64
 6   height_prof         601 non-null    float64
 7   school_prof         601 non-null    object
 8   pos_rk_prof         268 non-null    float64
 9   ovr_rk_prof         242 non-null    float64
 10  grade_prof          268 non-null    float64
 11  text1_prof          148 non-null    object
 12  text2_prof          177 non-null    object
 13  text3_prof          37 non-null     object
dtypes: float64(5), int64(2), object(7)
memory usage: 70.4+ KB

None

'Combined info:'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 601 entries, 0 to 600
Data columns (total 32 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   draft_year          601 non-null    int64
 1   player_id           601 non-null    int64
 2   player_name         601 non-null    object
 3   pos_abbr            601 non-null    object
 4   school              591 non-null    object
 5   pick                537 non-null    float64
 6   overall             537 non-null    float64
 7   round               537 non-null    float64
 8   traded              537 non-null    object
 9   trade_note          216 non-null    object
 10  team                537 non-null    object
 11  team_abbr           537 non-null    object
 12  guid                290 non-null    object
 13  weight              271 non-null    float64
 14  height              270 non-null    float64
 15  pos_rk              268 non-null    float64
 16  ovr_rk              242 non-null    float64
 17  grade               268 non-null    float64
 18  player_id_prof      601 non-null    int64
 19  guid_prof           290 non-null    object
 20  alt_player_id_prof  289 non-null    float64
 21  player_name_prof    601 non-null    object
 22  pos_abbr_prof       601 non-null    object
 23  weight_prof         601 non-null    int64
 24  height_prof         601 non-null    float64
 25  school_prof         601 non-null    object
 26  pos_rk_prof         268 non-null    float64
 27  ovr_rk_prof         242 non-null    float64
 28  grade_prof          268 non-null    float64
 29  text1_prof          148 non-null    object
 30  text2_prof          177 non-null    object
 31  text3_prof          37 non-null     object
dtypes: float64(13), int64(4), object(15)
memory usage: 150.4+ KB

None

In [98]:
# investigate the combined dataframe, look for any lost data
display(qb_df.head())
qb_df.columns

,draft_year,player_id,player_name,pos_abbr,school,pick,overall,round,traded,trade_note,...,pos_abbr_prof,weight_prof,height_prof,school_prof,pos_rk_prof,ovr_rk_prof,grade_prof,text1_prof,text2_prof,text3_prof
0,1967,23592,Steve Spurrier,QB,Florida,3.0,3.0,1.0,False,from Atlanta,...,QB,0,0.0,Florida,NaN,NaN,NaN,NaN,NaN,NaN
1,1967,23593,Bob Griese,QB,Purdue,4.0,4.0,1.0,False,NaN,...,QB,0,0.0,Purdue,NaN,NaN,NaN,NaN,NaN,NaN
2,1967,23614,Don Horn,QB,San Diego State,25.0,25.0,1.0,False,NaN,...,QB,0,0.0,San Diego State,NaN,NaN,NaN,NaN,NaN,NaN
3,1967,23616,Bo Burris,QB,Houston,1.0,27.0,2.0,False,NaN,...,QB,0,0.0,Houston,NaN,NaN,NaN,NaN,NaN,NaN
4,1967,23619,Bob Davis,QB,Virginia,4.0,30.0,2.0,False,NaN,...,QB,0,0.0,Virginia,NaN,NaN,NaN,NaN,NaN,NaN

Index(['draft_year', 'player_id', 'player_name', 'pos_abbr', 'school', 'pick',
       'overall', 'round', 'traded', 'trade_note', 'team', 'team_abbr', 'guid',
       'weight', 'height', 'pos_rk', 'ovr_rk', 'grade', 'player_id_prof',
       'guid_prof', 'alt_player_id_prof', 'player_name_prof', 'pos_abbr_prof',
       'weight_prof', 'height_prof', 'school_prof', 'pos_rk_prof',
       'ovr_rk_prof', 'grade_prof', 'text1_prof', 'text2_prof', 'text3_prof'],
      dtype='object')

In [100]:
# Order the cells to make compares a bit easier:
cols = ['pos_abbr', 'pos_abbr_prof', 
        'player_id', 'player_id_prof', 'alt_player_id_prof', 
        'guid', 'guid_prof',
        'player_name', 'player_name_prof',
        'school', 'school_prof',
        'draft_year', 'team', 'team_abbr',
        'pick', 'overall', 'round', 'traded', 'trade_note',
        'weight', 'height', 'weight_prof', 'height_prof',
        'pos_rk', 'pos_rk_prof',
        'ovr_rk', 'ovr_rk_prof', 'grade', 'grade_prof', 
        'text1_prof', 'text2_prof', 'text3_prof']
qb_ordered_df = qb_df[cols]
display(qb_ordered_df.head())

,pos_abbr,pos_abbr_prof,player_id,player_id_prof,alt_player_id_prof,guid,guid_prof,player_name,player_name_prof,school,...,height_prof,pos_rk,pos_rk_prof,ovr_rk,ovr_rk_prof,grade,grade_prof,text1_prof,text2_prof,text3_prof
0,QB,QB,23592,23592,NaN,NaN,NaN,Steve Spurrier,Steve Spurrier,Florida,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QB,QB,23593,23593,NaN,NaN,NaN,Bob Griese,Bob Griese,Purdue,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,QB,QB,23614,23614,NaN,NaN,NaN,Don Horn,Don Horn,San Diego State,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,QB,QB,23616,23616,NaN,NaN,NaN,Bo Burris,Bo Burris,Houston,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,QB,QB,23619,23619,NaN,NaN,NaN,Bob Davis,Bob Davis,Virginia,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
# Let's compare values in columns that 'should' have identical data: 
 List of column pairs to compare
column_pairs = [
    ('pos_abbr', 'pos_abbr_prof'),
    ('player_name', 'player_name_prof'),
    ('player_id', 'player_id_prof'),
    ('pos_rk', 'pos_rk_prof')
]

# Compare each pair of columns and store the results
for col1, col2 in column_pairs:
    comparison_results[f'{col1}_vs_{col2}'] = df[col1] == df[col2]

# Identify rows where there are mismatches
mismatches = comparison_results[~comparison_results.all(axis=1)]

# Get the indices of the mismatched rows
mismatch_indices = mismatches.index

# Display the mismatched rows from the original DataFrame
mismatched_rows = df.loc[mismatch_indices]

# Display the summary of mismatches
summary = mismatches.sum()

print("Summary of mismatches:")
print(summary)
print("\nRows with mismatches:")
print(mismatched_rows

Summary of mismatches:
pos_abbr_vs_pos_abbr_prof          333
player_name_vs_player_name_prof    333
player_id_vs_player_id_prof        333
pos_rk_vs_pos_rk_prof                0
dtype: int64

Rows with mismatches:
    pos_abbr pos_abbr_prof  player_id  player_id_prof  alt_player_id_prof
0         QB            QB      23592           23592                 NaN  \
1         QB            QB      23593           23593                 NaN
2         QB            QB      23614           23614                 NaN
3         QB            QB      23616           23616                 NaN
4         QB            QB      23619           23619                 NaN
..       ...           ...        ...             ...                 ...
328       QB            QB       7025            7025                 NaN
364       QB            QB       9171            9171           1946347.0
478       QB            QB      29634           29634           2310067.0
578       QB            QB     104701          104701           3895785.0
579       QB            QB     104707          104707           3791110.0

                                 guid                         guid_prof
0                                 NaN                               NaN  \
1                                 NaN                               NaN
2                                 NaN                               NaN
3                                 NaN                               NaN
4                                 NaN                               NaN
..                                ...                               ...
328                               NaN                               NaN
364  e512fd7784cfd7f03c3a56c767edca9f  e512fd7784cfd7f03c3a56c767edca9f
478  39b9f1ad5ce3895fdf37af2944a3dfb6  39b9f1ad5ce3895fdf37af2944a3dfb6
578  c476fd8fee5c8e54bcffc0394cfc0232  c476fd8fee5c8e54bcffc0394cfc0232
579  9667ed8ef28e6b65a9b9d597f10c86fb  9667ed8ef28e6b65a9b9d597f10c86fb

        player_name player_name_prof             school  ... height_prof
0    Steve Spurrier   Steve Spurrier            Florida  ...         0.0  \
1        Bob Griese       Bob Griese             Purdue  ...         0.0
2          Don Horn         Don Horn    San Diego State  ...         0.0
3         Bo Burris        Bo Burris            Houston  ...         0.0
4         Bob Davis        Bob Davis           Virginia  ...         0.0
..              ...              ...                ...  ...         ...
328      Ken Dorsey       Ken Dorsey              Miami  ...         0.0
364     Matt Cassel      Matt Cassel                USC  ...         0.0
478    B.J. Daniels     B.J. Daniels      South Florida  ...         0.0
578     Ben DiNucci      Ben DiNucci      James Madison  ...        75.0
579   Tommy Stevens    Tommy Stevens  Mississippi State  ...        77.0

     pos_rk pos_rk_prof ovr_rk  ovr_rk_prof  grade  grade_prof
0       NaN         NaN    NaN          NaN    NaN         NaN  \
1       NaN         NaN    NaN          NaN    NaN         NaN
2       NaN         NaN    NaN          NaN    NaN         NaN
3       NaN         NaN    NaN          NaN    NaN         NaN
4       NaN         NaN    NaN          NaN    NaN         NaN
..      ...         ...    ...          ...    ...         ...
328     NaN         NaN    NaN          NaN    NaN         NaN
364     NaN         NaN    NaN          NaN    NaN         NaN
478     NaN         NaN    NaN          NaN    NaN         NaN
578     NaN         NaN    NaN          NaN    NaN         NaN
579     NaN         NaN    NaN          NaN    NaN         NaN

                                            text1_prof
0                                                  NaN  \
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
328                                                NaN
364                                                NaN
478                                                NaN
578  DiNucci is a Pitt transfer who lit it up over ...
579  Stevens is a graduate transfer from Penn State...

                                            text2_prof  text3_prof
0                                                  NaN         NaN
1                                                  NaN         NaN
2                                                  NaN         NaN
3                                                  NaN         NaN
4                                                  NaN         NaN
..                                                 ...         ...
328                                                NaN         NaN
364                                                NaN         NaN
478  Daniels has the mobility to run San Francisco'...         NaN
578                                                NaN         NaN
579                                                NaN         NaN

[333 rows x 32 columns]

ids.csv

Information for joining a player's ESPN ID (commonly referred to as player_id in many datasets) with their ID in the nflfastR package. At this time, it only has data for QB's

In [67]:
# used to correlate tables: 
csv_ids = r"Resources\ids.csv"
ids_df = pd.read_csv(csv_ids)

display('/n player_ids:')
display(ids_df.head())
display(ids_df.info())

'/n player_ids:'

   espn_id         player_name nflfastR_id
0    18692          Dan Marino  00-0010379
1    19373  Randall Cunningham  00-0003761
2    19739       Bubby Brister  00-0001785
3    20006    Vinny Testaverde  00-0016193
4    20018        Chris Miller  00-0011244

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   espn_id      236 non-null    int64
 1   player_name  236 non-null    object
 2   nflfastR_id  236 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.7+ KB

None

In [68]:
ids_df = ids_df[['player_name', 'espn_id']]
ids_df.head()

          player_name  espn_id
0          Dan Marino    18692
1  Randall Cunningham    19373
2       Bubby Brister    19739
3    Vinny Testaverde    20006
4        Chris Miller    20018

In [ ]:
#Export csv for Prospects
csv_path = "Resources\ids_clean.csv"
qb_profiles_clean_df.to_csv(csv_path, index=False)

college_qbr.csv

ESPN college QB QBR metrics for every quarterback in college football since 2004. 
Please join in this dataset using guid and player_name.

In [ ]:

# detailed quarterback college performance statistics
csv_qbr = r"Resources\college_qbr.csv"
qbr_df = pd.read_csv(csv_qbr) # remove index?  ISO


display('/n QBR ratings:')
display(qbr_df.head())
display(qbr_df.info())

college_stats.csv
player_id

NFL draft prospect counting statistics in college. Includes counting statistics like interceptions, tackles, receiving touchdowns, passing touchdowns, etc. by a player's college season.

In [ ]:


# data on QB college statistics
csv_stats = r"Resources\college_statistics.csv"
stats_df = pd.read_csv(csv_stats)


display('/n QB college stats:')
display(stats_df.head())
display(stats_df.info())

In [9]:
# #Export csv
# csv_path = "Resources/qb_earnings_data.csv"
# df.to_csv(csv_path, index=False)

In [10]:
# Save as Pickle; pickle.dump to store data
pickle_path = 'Resources/acclaimed_albums_genres.pkl'
with open(pickle_path, 'wb') as file:
    pickle.dump(df, file)

In [ ]:
# Reload Dataframe from pkl file, with rb 'read binary'
# with open(pickle_path', 'rb') as file:
#     df = pickle.load(file)