In [1]:
import pandas as pd

from [jacklich10/nfl_draft_data:](https://github.com/jacklich10/nfl-draft-data)

If you attempt to read in the .csv files in R with the commonly used readr::read_csv function, please use the parameter guess_max = 13000 to avoid parsing errors (this has to do with how readr guesses column types using only the first 1000 rows). Alternatively, use the read.csv function which will handle this without intervention.

from https://github.com/jacklich10/nfl-draft-data: 

If you are joining the datasets together, the value player_id is uniquely identified across all data. 
Be wary of pos_abbr, as the abbreviations sometimes (though rarely) differ across datasets. I have had no issues with school, school_name, and school_abbr, but player_id will always join the data correctly.

If you are joining in ESPN college QBR statistics from college_qbr.csv, join by guid and player_name


## nfl_draft_profiles.csv

NFL draft player profile data from ESPN dating back to 1967 (4000 profiles)

In [2]:
# Import CSV for Profiles
csv_profiles = r"..\Sources\nfl_draft_profiles.csv"
prof_df = pd.read_csv(csv_profiles) 
display('draft_profiles:')
display(prof_df.head())
display(prof_df.info())

'draft_profiles:'

,player_id,guid,alt_player_id,player_name,position,pos_abbr,weight,height,player_image,link,...,school,school_abbr,school_name,pos_rk,ovr_rk,grade,text1,text2,text3,text4
0,23590,NaN,NaN,Bubba Smith,Defensive End,DE,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Michigan State,MSU,Spartans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23591,NaN,NaN,Clinton Jones,Running Back,RB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Michigan State,MSU,Spartans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23592,NaN,NaN,Steve Spurrier,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Florida,FLA,Gators,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23593,NaN,NaN,Bob Griese,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Purdue,PUR,Boilermakers,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23594,NaN,NaN,George Webster,Linebacker,LB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Michigan State,MSU,Spartans,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12905 entries, 0 to 12904
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_id      12905 non-null  int64
 1   guid           5949 non-null   object
 2   alt_player_id  5882 non-null   float64
 3   player_name    12905 non-null  object
 4   position       12905 non-null  object
 5   pos_abbr       12905 non-null  object
 6   weight         12905 non-null  int64
 7   height         12905 non-null  float64
 8   player_image   1506 non-null   object
 9   link           12905 non-null  object
 10  school_logo    12485 non-null  object
 11  school         12905 non-null  object
 12  school_abbr    12867 non-null  object
 13  school_name    12895 non-null  object
 14  pos_rk         5761 non-null   float64
 15  ovr_rk         5100 non-null   float64
 16  grade          5767 non-null   float64
 17  text1          2992 non-null   object
 18  text2          3848 non-null   object
 19  text3          534 non-null    object
 20  text4          2 non-null      object
dtypes: float64(5), int64(2), object(14)
memory usage: 2.1+ MB

None

nfl_draft_profiles.csv

Information on NFL draft prospects including pre-draft text analysis in columns text* for * in 1, 2, 3, 4
player_id (ESPN player id)

has all positions: reduce to just QB using pos_abbr = QB (and double check with Position)
this should have pos_rk ovr_rk and grade for more recent years. (around 5000 entries)
should have player draft evaluations for more recent years (around 2900 entries) (text1, text2...text4)

In [3]:
# Clean Draft Profiles data:
# Include only Q postion == 'Quarterback' or pos_abbr = 'QB'

# qb_profiles_df = profiles_df[
#     (profiles_df['position'] == 'Quarterback') & 
#     (profiles_df['pos_abbr'] == 'QB')]

qb_profiles_df = prof_df.query("position =='Quarterback' or pos_abbr == 'QB'")

display(qb_profiles_df.head())
display(qb_profiles_df.info())
display(qb_profiles_df.columns)

,player_id,guid,alt_player_id,player_name,position,pos_abbr,weight,height,player_image,link,...,school,school_abbr,school_name,pos_rk,ovr_rk,grade,text1,text2,text3,text4
2,23592,NaN,NaN,Steve Spurrier,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Florida,FLA,Gators,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23593,NaN,NaN,Bob Griese,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Purdue,PUR,Boilermakers,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,23614,NaN,NaN,Don Horn,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,San Diego State,SDSU,Aztecs,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,23616,NaN,NaN,Bo Burris,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Houston,HOU,Cougars,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,23619,NaN,NaN,Bob Davis,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Virginia,UVA,Cavaliers,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Index: 601 entries, 2 to 12901
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_id      601 non-null    int64
 1   guid           290 non-null    object
 2   alt_player_id  289 non-null    float64
 3   player_name    601 non-null    object
 4   position       601 non-null    object
 5   pos_abbr       601 non-null    object
 6   weight         601 non-null    int64
 7   height         601 non-null    float64
 8   player_image   69 non-null     object
 9   link           601 non-null    object
 10  school_logo    589 non-null    object
 11  school         601 non-null    object
 12  school_abbr    600 non-null    object
 13  school_name    601 non-null    object
 14  pos_rk         268 non-null    float64
 15  ovr_rk         242 non-null    float64
 16  grade          268 non-null    float64
 17  text1          148 non-null    object
 18  text2          177 non-null    object
 19  text3          37 non-null     object
 20  text4          0 non-null      object
dtypes: float64(5), int64(2), object(14)
memory usage: 103.3+ KB

None

Index(['player_id', 'guid', 'alt_player_id', 'player_name', 'position',
       'pos_abbr', 'weight', 'height', 'player_image', 'link', 'school_logo',
       'school', 'school_abbr', 'school_name', 'pos_rk', 'ovr_rk', 'grade',
       'text1', 'text2', 'text3', 'text4'],
      dtype='object')

In [4]:
# Drop unnecessary columns: 
drop = ['guid', 'alt_player_id','position','pos_abbr', 'player_image', 'link', 'school_logo',
       'school_abbr', 'school_name', 'pos_rk', 'ovr_rk', 'text1', 'text2', 'text3', 'text4']

profiles_df = qb_profiles_df.drop(columns=drop)

In [5]:
import numpy as np

# Identify invalid values (0, 0.0, NaN)
zero_count = profiles_df[['height', 'weight']].apply(lambda x: (x == 0) | (x == 0.0)).sum()
isna_count = profiles_df[['height', 'weight']].apply(lambda x: pd.isna(x)).sum()
display("0 values:", zero_count)
display("isna values:", isna_count)

# replace the 0 values with NaN for weight/height columns
profiles_df.loc[:,['weight', 'height']] = qb_profiles_df.loc[:,['weight', 'height']].replace(0.0, np.nan)

zero_count = profiles_df[['height', 'weight']].apply(lambda x: (x == 0) | (x == 0.0)).sum()
isna_count = profiles_df[['height', 'weight']].apply(lambda x: pd.isna(x)).sum()
display("0 values:", zero_count)
display("isna values:", isna_count)

'0 values:'

height    331
weight    292
dtype: int64

'isna values:'

height    0
weight    0
dtype: int64

'0 values:'

height    0
weight    0
dtype: int64

'isna values:'

height    331
weight    292
dtype: int64

In [6]:
display(profiles_df.info())
display(profiles_df.head())
profiles_df.columns

<class 'pandas.core.frame.DataFrame'>
Index: 601 entries, 2 to 12901
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   player_id    601 non-null    int64
 1   player_name  601 non-null    object
 2   weight       309 non-null    float64
 3   height       270 non-null    float64
 4   school       601 non-null    object
 5   grade        268 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 32.9+ KB

None

    player_id     player_name  weight  height           school  grade
2       23592  Steve Spurrier     NaN     NaN          Florida    NaN
3       23593      Bob Griese     NaN     NaN           Purdue    NaN
24      23614        Don Horn     NaN     NaN  San Diego State    NaN
26      23616       Bo Burris     NaN     NaN          Houston    NaN
29      23619       Bob Davis     NaN     NaN         Virginia    NaN

Index(['player_id', 'player_name', 'weight', 'height', 'school', 'grade'], dtype='object')

In [7]:
# Drop rows if they have NaN values in weight AND height AND grade columns:

print(f'rows {len(profiles_df)}')

# subset: Specifies the columns to check for NaN values.
# how='all': Ensures rows are dropped only if all specified columns in subset are NaN

profiles_final_df = profiles_df.dropna(subset=['weight', 'height', 'grade'], 
                                       how='all').reset_index(drop=True)

print(f'rows {len(profiles_final_df)}')
display(profiles_final_df.head())
print(profiles_final_df.columns)

rows 601
rows 309

   player_id         player_name  weight  height         school  grade
0         25        Michael Vick   215.0     NaN  Virginia Tech    NaN
1          2          Drew Brees   215.0     NaN         Purdue    NaN
2          3       Quincy Carter   220.0     NaN        Georgia    NaN
3         24  Marques Tuiasosopo   220.0     NaN     Washington    NaN
4         26        Chris Weinke   226.0     NaN  Florida State    NaN

Index(['player_id', 'player_name', 'weight', 'height', 'school', 'grade'], dtype='object')

In [8]:
# Count the number of rows with NaN in both 'height' and 'grade'
nan_count = profiles_final_df.loc[profiles_final_df[['height', 'grade']].isna().all(axis=1)].shape[0]

# Display the count
print(f'rows with NaN in both height and grade: {nan_count}')

rows with NaN in both height and grade: 39

In [9]:
# Drop rows where 'grade' is NaN
profiles_final_df = profiles_df.dropna(subset=['grade']).reset_index(drop=True)
display(profiles_final_df.head())
print(profiles_final_df.columns)

   player_id         player_name  weight  height      school  grade
0       7841         Eli Manning   221.0  76.750    Ole Miss   98.0
1       7842       Philip Rivers   224.0  76.750    NC State   95.0
2       7840  Ben Roethlisberger   241.0  76.875  Miami (OH)   99.0
3       7843         J.P. Losman   224.0  74.250      Tulane   89.0
4       7844         Matt Schaub   233.0  77.500    Virginia   80.0

Index(['player_id', 'player_name', 'weight', 'height', 'school', 'grade'], dtype='object')

In [10]:
#Export csv for Profiles
csv_path = r"..\Data_Artifacts\nfl_draft_profiles_clean.csv"
profiles_df.to_csv(csv_path, index=False)

### ** ALL REMAINING CELLS: NOT USED **