In [20]:
import pandas as pd

from [jacklich10/nfl_draft_data:](https://github.com/jacklich10/nfl-draft-data)

If you attempt to read in the .csv files in R with the commonly used readr::read_csv function, please use the parameter guess_max = 13000 to avoid parsing errors (this has to do with how readr guesses column types using only the first 1000 rows). Alternatively, use the read.csv function which will handle this without intervention.

from https://github.com/jacklich10/nfl-draft-data: 

If you are joining the datasets together, the value player_id is uniquely identified across all data. 
Be wary of pos_abbr, as the abbreviations sometimes (though rarely) differ across datasets. I have had no issues with school, school_name, and school_abbr, but player_id will always join the data correctly.

If you are joining in ESPN college QBR statistics from college_qbr.csv, join by guid and player_name


## nfl_draft_profiles.csv

NFL draft player profile data from ESPN dating back to 1967 (4000 profiles)

In [21]:
# Import CSV for Profiles
csv_profiles = r"Resources\nfl_draft_profiles.csv"
prof_df = pd.read_csv(csv_profiles) 
display('/n draft_profiles:')
display(prof_df.head())
display(prof_df.info())

'/n draft_profiles:'

,player_id,guid,alt_player_id,player_name,position,pos_abbr,weight,height,player_image,link,...,school,school_abbr,school_name,pos_rk,ovr_rk,grade,text1,text2,text3,text4
0,23590,NaN,NaN,Bubba Smith,Defensive End,DE,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Michigan State,MSU,Spartans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,23591,NaN,NaN,Clinton Jones,Running Back,RB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Michigan State,MSU,Spartans,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,23592,NaN,NaN,Steve Spurrier,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Florida,FLA,Gators,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23593,NaN,NaN,Bob Griese,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Purdue,PUR,Boilermakers,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,23594,NaN,NaN,George Webster,Linebacker,LB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Michigan State,MSU,Spartans,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12905 entries, 0 to 12904
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_id      12905 non-null  int64
 1   guid           5949 non-null   object
 2   alt_player_id  5882 non-null   float64
 3   player_name    12905 non-null  object
 4   position       12905 non-null  object
 5   pos_abbr       12905 non-null  object
 6   weight         12905 non-null  int64
 7   height         12905 non-null  float64
 8   player_image   1506 non-null   object
 9   link           12905 non-null  object
 10  school_logo    12485 non-null  object
 11  school         12905 non-null  object
 12  school_abbr    12867 non-null  object
 13  school_name    12895 non-null  object
 14  pos_rk         5761 non-null   float64
 15  ovr_rk         5100 non-null   float64
 16  grade          5767 non-null   float64
 17  text1          2992 non-null   object
 18  text2          3848 non-null   object
 19  text3          534 non-null    object
 20  text4          2 non-null      object
dtypes: float64(5), int64(2), object(14)
memory usage: 2.1+ MB

None

nfl_draft_profiles.csv

Information on NFL draft prospects including pre-draft text analysis in columns text* for * in 1, 2, 3, 4
player_id (ESPN player id)

has all positions: reduce to just QB using pos_abbr = QB (and double check with Position)
this should have pos_rk ovr_rk and grade for more recent years. (around 5000 entries)
should have player draft evaluations for more recent years (around 2900 entries) (text1, text2...text4)

In [22]:
# Clean Draft Profiles data:
# Include only Q postion == 'Quarterback' or pos_abbr = 'QB'

# qb_profiles_df = profiles_df[
#     (profiles_df['position'] == 'Quarterback') & 
#     (profiles_df['pos_abbr'] == 'QB')]

qb_profiles_df = prof_df.query("position =='Quarterback' or pos_abbr == 'QB'")

display(qb_profiles_df.head())
display(qb_profiles_df.info())
display(qb_profiles_df.columns)

,player_id,guid,alt_player_id,player_name,position,pos_abbr,weight,height,player_image,link,...,school,school_abbr,school_name,pos_rk,ovr_rk,grade,text1,text2,text3,text4
2,23592,NaN,NaN,Steve Spurrier,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Florida,FLA,Gators,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,23593,NaN,NaN,Bob Griese,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Purdue,PUR,Boilermakers,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,23614,NaN,NaN,Don Horn,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,San Diego State,SDSU,Aztecs,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,23616,NaN,NaN,Bo Burris,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Houston,HOU,Cougars,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,23619,NaN,NaN,Bob Davis,Quarterback,QB,0,0.0,NaN,http://insider.espn.com/nfl/draft/player/_/id/...,...,Virginia,UVA,Cavaliers,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Index: 601 entries, 2 to 12901
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_id      601 non-null    int64
 1   guid           290 non-null    object
 2   alt_player_id  289 non-null    float64
 3   player_name    601 non-null    object
 4   position       601 non-null    object
 5   pos_abbr       601 non-null    object
 6   weight         601 non-null    int64
 7   height         601 non-null    float64
 8   player_image   69 non-null     object
 9   link           601 non-null    object
 10  school_logo    589 non-null    object
 11  school         601 non-null    object
 12  school_abbr    600 non-null    object
 13  school_name    601 non-null    object
 14  pos_rk         268 non-null    float64
 15  ovr_rk         242 non-null    float64
 16  grade          268 non-null    float64
 17  text1          148 non-null    object
 18  text2          177 non-null    object
 19  text3          37 non-null     object
 20  text4          0 non-null      object
dtypes: float64(5), int64(2), object(14)
memory usage: 103.3+ KB

None

Index(['player_id', 'guid', 'alt_player_id', 'player_name', 'position',
       'pos_abbr', 'weight', 'height', 'player_image', 'link', 'school_logo',
       'school', 'school_abbr', 'school_name', 'pos_rk', 'ovr_rk', 'grade',
       'text1', 'text2', 'text3', 'text4'],
      dtype='object')

In [23]:
# Count NaN, 0 values in each column
nan_counts = qb_profiles_df.isna().sum()
zero_counts = (qb_profiles_df == 0).sum()

print("NaN values:\n", nan_counts)
print("\n0 values:\n", zero_counts)

NaN values:
 player_id          0
guid             311
alt_player_id    312
player_name        0
position           0
pos_abbr           0
weight             0
height             0
player_image     532
link               0
school_logo       12
school             0
school_abbr        1
school_name        0
pos_rk           333
ovr_rk           359
grade            333
text1            453
text2            424
text3            564
text4            601
dtype: int64

0 values:
 player_id          0
guid               0
alt_player_id      0
player_name        0
position           0
pos_abbr           0
weight           292
height           331
player_image       0
link               0
school_logo        0
school             0
school_abbr        0
school_name        0
pos_rk             0
ovr_rk             0
grade              0
text1              0
text2              0
text3              0
text4              0
dtype: int64

In [24]:
import numpy as np
# Drop unnecessary columns: 
drop = ['position','player_image', 'link', 'school_logo',
       'school_abbr', 'school_name', 'text4']

profiles_df = qb_profiles_df.drop(columns=drop)

# replace the 0 values with NaN 
# Replace 0.0 with NaN for weight/height columns
profiles_df[['weight', 'height']] = profiles_df[['weight', 'height']].replace(0.0, np.nan)

# Take Profiles columns and add suffix _prof to identify profile data after merge with prospects.
profiles_df = profiles_df.add_suffix('_prof')
display(profiles_df.head())
# display(profiles_df.info())

,player_id_prof,guid_prof,alt_player_id_prof,player_name_prof,pos_abbr_prof,weight_prof,height_prof,school_prof,pos_rk_prof,ovr_rk_prof,grade_prof,text1_prof,text2_prof,text3_prof
2,23592,NaN,NaN,Steve Spurrier,QB,NaN,NaN,Florida,NaN,NaN,NaN,NaN,NaN,NaN
3,23593,NaN,NaN,Bob Griese,QB,NaN,NaN,Purdue,NaN,NaN,NaN,NaN,NaN,NaN
24,23614,NaN,NaN,Don Horn,QB,NaN,NaN,San Diego State,NaN,NaN,NaN,NaN,NaN,NaN
26,23616,NaN,NaN,Bo Burris,QB,NaN,NaN,Houston,NaN,NaN,NaN,NaN,NaN,NaN
29,23619,NaN,NaN,Bob Davis,QB,NaN,NaN,Virginia,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
#Export csv for Profiles
csv_path = r"Resources\nfl_draft_profiles_clean.csv"
profiles_df.to_csv(csv_path, index=False)

## nfl_draft_prospects.csv

ESPN Information on previous NFL draft prospects dating back to 1967 (first year of the common draft). 
If the player has NA values for pick, overall, and round, it means he went undrafted or the draft has not occurred yet (for current year prospects).

In [26]:
# Import CSV for Prospects

# data on when a prospect was drafted, which team drafted them.
csv_prospects = r"Resources\nfl_draft_prospects.csv"
prospects_df = pd.read_csv(csv_prospects)

display('/n draft_prospects:')
display(prospects_df.head())
# display(prospects_df.info())

'/n draft_prospects:'

,draft_year,player_id,player_name,position,pos_abbr,school,school_name,school_abbr,link,pick,...,team,team_abbr,team_logo_espn,guid,weight,height,pos_rk,ovr_rk,grade,player_image
0,1967,23590,Bubba Smith,Defensive End,DE,Michigan State,Spartans,MSU,http://insider.espn.com/nfl/draft/player/_/id/...,1.0,...,Baltimore Colts,IND,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1967,23591,Clinton Jones,Running Back,RB,Michigan State,Spartans,MSU,http://insider.espn.com/nfl/draft/player/_/id/...,2.0,...,Minnesota Vikings,MIN,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1967,23592,Steve Spurrier,Quarterback,QB,Florida,Gators,FLA,http://insider.espn.com/nfl/draft/player/_/id/...,3.0,...,San Francisco 49ers,SF,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1967,23593,Bob Griese,Quarterback,QB,Purdue,Boilermakers,PUR,http://insider.espn.com/nfl/draft/player/_/id/...,4.0,...,Miami Dolphins,MIA,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1967,23594,George Webster,Linebacker,LB,Michigan State,Spartans,MSU,http://insider.espn.com/nfl/draft/player/_/id/...,5.0,...,Houston Oilers,TEN,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
qb_prospects_df = prospects_df.query("position =='Quarterback' or pos_abbr == 'QB'")

display(qb_prospects_df.head())
display(qb_prospects_df.info())
display(qb_prospects_df.columns)

,draft_year,player_id,player_name,position,pos_abbr,school,school_name,school_abbr,link,pick,...,team,team_abbr,team_logo_espn,guid,weight,height,pos_rk,ovr_rk,grade,player_image
2,1967,23592,Steve Spurrier,Quarterback,QB,Florida,Gators,FLA,http://insider.espn.com/nfl/draft/player/_/id/...,3.0,...,San Francisco 49ers,SF,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1967,23593,Bob Griese,Quarterback,QB,Purdue,Boilermakers,PUR,http://insider.espn.com/nfl/draft/player/_/id/...,4.0,...,Miami Dolphins,MIA,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1967,23614,Don Horn,Quarterback,QB,San Diego State,Aztecs,SDSU,http://insider.espn.com/nfl/draft/player/_/id/...,25.0,...,Green Bay Packers,GB,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1967,23616,Bo Burris,Quarterback,QB,Houston,Cougars,HOU,http://insider.espn.com/nfl/draft/player/_/id/...,1.0,...,New Orleans Saints,NO,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1967,23619,Bob Davis,Quarterback,QB,Virginia,Cavaliers,UVA,http://insider.espn.com/nfl/draft/player/_/id/...,4.0,...,Houston Oilers,TEN,https://a.espncdn.com/i/teamlogos/nfl/500/scor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Index: 619 entries, 2 to 13350
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   draft_year      619 non-null    int64
 1   player_id       619 non-null    int64
 2   player_name     619 non-null    object
 3   position        619 non-null    object
 4   pos_abbr        619 non-null    object
 5   school          609 non-null    object
 6   school_name     609 non-null    object
 7   school_abbr     606 non-null    object
 8   link            619 non-null    object
 9   pick            555 non-null    float64
 10  overall         555 non-null    float64
 11  round           555 non-null    float64
 12  traded          555 non-null    object
 13  trade_note      222 non-null    object
 14  team            555 non-null    object
 15  team_abbr       555 non-null    object
 16  team_logo_espn  554 non-null    object
 17  guid            299 non-null    object
 18  weight          281 non-null    float64
 19  height          280 non-null    float64
 20  pos_rk          278 non-null    float64
 21  ovr_rk          248 non-null    float64
 22  grade           278 non-null    float64
 23  player_image    70 non-null     object
dtypes: float64(8), int64(2), object(14)
memory usage: 120.9+ KB

None

Index(['draft_year', 'player_id', 'player_name', 'position', 'pos_abbr',
       'school', 'school_name', 'school_abbr', 'link', 'pick', 'overall',
       'round', 'traded', 'trade_note', 'team', 'team_abbr', 'team_logo_espn',
       'guid', 'weight', 'height', 'pos_rk', 'ovr_rk', 'grade',
       'player_image'],
      dtype='object')

In [28]:
# Count NaN, 0 values in each column
nan_counts = qb_prospects_df.isna().sum()
zero_counts = (qb_prospects_df == 0).sum()

print("NaN values:\n", nan_counts)
print("\n0 values:\n", zero_counts)

NaN values:
 draft_year          0
player_id           0
player_name         0
position            0
pos_abbr            0
school             10
school_name        10
school_abbr        13
link                0
pick               64
overall            64
round              64
traded             64
trade_note        397
team               64
team_abbr          64
team_logo_espn     65
guid              320
weight            338
height            339
pos_rk            341
ovr_rk            371
grade             341
player_image      549
dtype: int64

0 values:
 draft_year          0
player_id           0
player_name         0
position            0
pos_abbr            0
school              0
school_name         0
school_abbr         0
link                0
pick                0
overall             0
round               0
traded            497
trade_note          0
team                0
team_abbr           0
team_logo_espn      0
guid                0
weight              0
height              0
pos_rk              0
ovr_rk              0
grade               0
player_image        0
dtype: int64

In [29]:
# Drop unnecessary/redundant columns
drop = ['position', 'school_name', 'school_abbr', 'link', 'team_logo_espn','player_image']

prospects_df = qb_prospects_df.drop(columns=drop)
display('prospects_df')
display(prospects_df.head())
display(prospects_df.info())

'prospects_df'

,draft_year,player_id,player_name,pos_abbr,school,pick,overall,round,traded,trade_note,team,team_abbr,guid,weight,height,pos_rk,ovr_rk,grade
2,1967,23592,Steve Spurrier,QB,Florida,3.0,3.0,1.0,False,from Atlanta,San Francisco 49ers,SF,NaN,NaN,NaN,NaN,NaN,NaN
3,1967,23593,Bob Griese,QB,Purdue,4.0,4.0,1.0,False,NaN,Miami Dolphins,MIA,NaN,NaN,NaN,NaN,NaN,NaN
24,1967,23614,Don Horn,QB,San Diego State,25.0,25.0,1.0,False,NaN,Green Bay Packers,GB,NaN,NaN,NaN,NaN,NaN,NaN
26,1967,23616,Bo Burris,QB,Houston,1.0,27.0,2.0,False,NaN,New Orleans Saints,NO,NaN,NaN,NaN,NaN,NaN,NaN
29,1967,23619,Bob Davis,QB,Virginia,4.0,30.0,2.0,False,NaN,Houston Oilers,TEN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Index: 619 entries, 2 to 13350
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   draft_year   619 non-null    int64
 1   player_id    619 non-null    int64
 2   player_name  619 non-null    object
 3   pos_abbr     619 non-null    object
 4   school       609 non-null    object
 5   pick         555 non-null    float64
 6   overall      555 non-null    float64
 7   round        555 non-null    float64
 8   traded       555 non-null    object
 9   trade_note   222 non-null    object
 10  team         555 non-null    object
 11  team_abbr    555 non-null    object
 12  guid         299 non-null    object
 13  weight       281 non-null    float64
 14  height       280 non-null    float64
 15  pos_rk       278 non-null    float64
 16  ovr_rk       248 non-null    float64
 17  grade        278 non-null    float64
dtypes: float64(8), int64(2), object(8)
memory usage: 91.9+ KB

None

In [30]:
#Export csv for Prospects
csv_path = r"Resources\nfl_draft_prospects_clean.csv"
prospects_df.to_csv(csv_path, index=False)

In [31]:
# merge (prospects_df - player_name, profiles_df - player_name_prof) using fuzzy wuzzy, to allow for some possible differences in the way the name is spelled. 
# print an indicator when there is NOT a match

# Method:
# 1. Create new column 'player_name_match' in dataframe 1 prospects_df
# For each value of player_name, search 'player_name_prof' in dataframe 2: profiles_df using process.extractOne to get the best match (or None if no good match).
#  this best match gets added to 'player_name_match' in dataframe 1 prospects_df
# 2. Then, merge dataframe 1 prospects_df (on 'player_name_match') and dataframe 2 profiles_df (on 'player_name_prof')
#   Maintain the original 'player_name' in dataframe 1 for reference.

# pip install fuzzywuzzy
# Uses slow pure-python SequenceMatcher;  Install python-Levenshtein an optional dependency that speeds things 
# pip install python-Levenshtein

from fuzzywuzzy import process

# Find the best match for each player name in qb_profiles_clean_df
def get_best_match(name, choices, threshold=80):
#  process.extractOne returns tuple w/ 3 elements: match, score, and the index.
    match, score, _ = process.extractOne(name, choices) 
    return match if score > threshold else None

# Create the 'player_name_match' column
prospects_df['player_name_match'] = prospects_df['player_name'].apply(
    lambda x: get_best_match(x, profiles_df['player_name_prof'])
)

# Merge the dataframes
merged_df = pd.merge(
    prospects_df,
    profiles_df,
    left_on='player_name_match',
    right_on='player_name_prof',
    how='outer',
    indicator=True
)

display(merged_df.head())
display(merged_df.tail())

,draft_year,player_id,player_name,pos_abbr,school,pick,overall,round,traded,trade_note,...,weight_prof,height_prof,school_prof,pos_rk_prof,ovr_rk_prof,grade_prof,text1_prof,text2_prof,text3_prof,_merge
0,1967,23592,Steve Spurrier,QB,Florida,3.0,3.0,1.0,False,from Atlanta,...,NaN,NaN,Florida,NaN,NaN,NaN,NaN,NaN,NaN,both
1,1967,23593,Bob Griese,QB,Purdue,4.0,4.0,1.0,False,NaN,...,NaN,NaN,Purdue,NaN,NaN,NaN,NaN,NaN,NaN,both
2,1967,23614,Don Horn,QB,San Diego State,25.0,25.0,1.0,False,NaN,...,NaN,NaN,San Diego State,NaN,NaN,NaN,NaN,NaN,NaN,both
3,1967,23616,Bo Burris,QB,Houston,1.0,27.0,2.0,False,NaN,...,NaN,NaN,Houston,NaN,NaN,NaN,NaN,NaN,NaN,both
4,1967,23619,Bob Davis,QB,Virginia,4.0,30.0,2.0,False,NaN,...,NaN,NaN,Virginia,NaN,NaN,NaN,NaN,NaN,NaN,both

,draft_year,player_id,player_name,pos_abbr,school,pick,overall,round,traded,trade_note,...,weight_prof,height_prof,school_prof,pos_rk_prof,ovr_rk_prof,grade_prof,text1_prof,text2_prof,text3_prof,_merge
616,2021,104814,Jamie Newman,QB,Georgia,NaN,NaN,NaN,NaN,NaN,...,234.0,74.875,Georgia,9.0,184.0,55.0,"Newman has average height, a sturdy build and ...",Newman is a developmental prospect with a good...,NaN,both
617,2021,105211,Feleipe Franks,QB,Arkansas,NaN,NaN,NaN,NaN,NaN,...,234.0,78.625,Arkansas,11.0,239.0,39.0,Franks has a big-time arm. He lacks ideal rele...,Franks is a developmental quarterback prospect...,NaN,both
618,2021,105151,Shane Buechele,QB,SMU,NaN,NaN,NaN,NaN,NaN,...,210.0,72.250,SMU,13.0,260.0,36.0,Buechele is a shorter quarterback who thrives ...,Buechele is a shorter quarterback who is very ...,NaN,both
619,2021,105349,Zach Smith,QB,Tulsa,NaN,NaN,NaN,NaN,NaN,...,222.0,75.375,Tulsa,14.0,311.0,31.0,NaN,NaN,NaN,both
620,2021,105467,K.J. Costello,QB,Mississippi State,NaN,NaN,NaN,NaN,NaN,...,227.0,76.625,Mississippi State,15.0,345.0,30.0,NaN,NaN,NaN,both

In [32]:
display('QB Prospects info:')
display(prospects_df.head())
display(prospects_df.info())

display('QB Profiles (prof) info:')
display(profiles_df.head())
display(profiles_df.info())

display('Combined info:')
display(merged_df.head())
display(merged_df.info())

'QB Prospects info:'

,draft_year,player_id,player_name,pos_abbr,school,pick,overall,round,traded,trade_note,team,team_abbr,guid,weight,height,pos_rk,ovr_rk,grade,player_name_match
2,1967,23592,Steve Spurrier,QB,Florida,3.0,3.0,1.0,False,from Atlanta,San Francisco 49ers,SF,NaN,NaN,NaN,NaN,NaN,NaN,Steve Spurrier
3,1967,23593,Bob Griese,QB,Purdue,4.0,4.0,1.0,False,NaN,Miami Dolphins,MIA,NaN,NaN,NaN,NaN,NaN,NaN,Bob Griese
24,1967,23614,Don Horn,QB,San Diego State,25.0,25.0,1.0,False,NaN,Green Bay Packers,GB,NaN,NaN,NaN,NaN,NaN,NaN,Don Horn
26,1967,23616,Bo Burris,QB,Houston,1.0,27.0,2.0,False,NaN,New Orleans Saints,NO,NaN,NaN,NaN,NaN,NaN,NaN,Bo Burris
29,1967,23619,Bob Davis,QB,Virginia,4.0,30.0,2.0,False,NaN,Houston Oilers,TEN,NaN,NaN,NaN,NaN,NaN,NaN,Bob Davis

<class 'pandas.core.frame.DataFrame'>
Index: 619 entries, 2 to 13350
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   draft_year         619 non-null    int64
 1   player_id          619 non-null    int64
 2   player_name        619 non-null    object
 3   pos_abbr           619 non-null    object
 4   school             609 non-null    object
 5   pick               555 non-null    float64
 6   overall            555 non-null    float64
 7   round              555 non-null    float64
 8   traded             555 non-null    object
 9   trade_note         222 non-null    object
 10  team               555 non-null    object
 11  team_abbr          555 non-null    object
 12  guid               299 non-null    object
 13  weight             281 non-null    float64
 14  height             280 non-null    float64
 15  pos_rk             278 non-null    float64
 16  ovr_rk             248 non-null    float64
 17  grade              278 non-null    float64
 18  player_name_match  604 non-null    object
dtypes: float64(8), int64(2), object(9)
memory usage: 96.7+ KB

None

'QB Profiles (prof) info:'

,player_id_prof,guid_prof,alt_player_id_prof,player_name_prof,pos_abbr_prof,weight_prof,height_prof,school_prof,pos_rk_prof,ovr_rk_prof,grade_prof,text1_prof,text2_prof,text3_prof
2,23592,NaN,NaN,Steve Spurrier,QB,NaN,NaN,Florida,NaN,NaN,NaN,NaN,NaN,NaN
3,23593,NaN,NaN,Bob Griese,QB,NaN,NaN,Purdue,NaN,NaN,NaN,NaN,NaN,NaN
24,23614,NaN,NaN,Don Horn,QB,NaN,NaN,San Diego State,NaN,NaN,NaN,NaN,NaN,NaN
26,23616,NaN,NaN,Bo Burris,QB,NaN,NaN,Houston,NaN,NaN,NaN,NaN,NaN,NaN
29,23619,NaN,NaN,Bob Davis,QB,NaN,NaN,Virginia,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
Index: 601 entries, 2 to 12901
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   player_id_prof      601 non-null    int64
 1   guid_prof           290 non-null    object
 2   alt_player_id_prof  289 non-null    float64
 3   player_name_prof    601 non-null    object
 4   pos_abbr_prof       601 non-null    object
 5   weight_prof         309 non-null    float64
 6   height_prof         270 non-null    float64
 7   school_prof         601 non-null    object
 8   pos_rk_prof         268 non-null    float64
 9   ovr_rk_prof         242 non-null    float64
 10  grade_prof          268 non-null    float64
 11  text1_prof          148 non-null    object
 12  text2_prof          177 non-null    object
 13  text3_prof          37 non-null     object
dtypes: float64(6), int64(1), object(7)
memory usage: 70.4+ KB

None

'Combined info:'

,draft_year,player_id,player_name,pos_abbr,school,pick,overall,round,traded,trade_note,...,weight_prof,height_prof,school_prof,pos_rk_prof,ovr_rk_prof,grade_prof,text1_prof,text2_prof,text3_prof,_merge
0,1967,23592,Steve Spurrier,QB,Florida,3.0,3.0,1.0,False,from Atlanta,...,NaN,NaN,Florida,NaN,NaN,NaN,NaN,NaN,NaN,both
1,1967,23593,Bob Griese,QB,Purdue,4.0,4.0,1.0,False,NaN,...,NaN,NaN,Purdue,NaN,NaN,NaN,NaN,NaN,NaN,both
2,1967,23614,Don Horn,QB,San Diego State,25.0,25.0,1.0,False,NaN,...,NaN,NaN,San Diego State,NaN,NaN,NaN,NaN,NaN,NaN,both
3,1967,23616,Bo Burris,QB,Houston,1.0,27.0,2.0,False,NaN,...,NaN,NaN,Houston,NaN,NaN,NaN,NaN,NaN,NaN,both
4,1967,23619,Bob Davis,QB,Virginia,4.0,30.0,2.0,False,NaN,...,NaN,NaN,Virginia,NaN,NaN,NaN,NaN,NaN,NaN,both

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621 entries, 0 to 620
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   draft_year          621 non-null    int64
 1   player_id           621 non-null    int64
 2   player_name         621 non-null    object
 3   pos_abbr            621 non-null    object
 4   school              611 non-null    object
 5   pick                557 non-null    float64
 6   overall             557 non-null    float64
 7   round               557 non-null    float64
 8   traded              557 non-null    object
 9   trade_note          222 non-null    object
 10  team                557 non-null    object
 11  team_abbr           557 non-null    object
 12  guid                299 non-null    object
 13  weight              281 non-null    float64
 14  height              280 non-null    float64
 15  pos_rk              278 non-null    float64
 16  ovr_rk              248 non-null    float64
 17  grade               278 non-null    float64
 18  player_name_match   606 non-null    object
 19  player_id_prof      606 non-null    float64
 20  guid_prof           290 non-null    object
 21  alt_player_id_prof  289 non-null    float64
 22  player_name_prof    606 non-null    object
 23  pos_abbr_prof       606 non-null    object
 24  weight_prof         309 non-null    float64
 25  height_prof         270 non-null    float64
 26  school_prof         606 non-null    object
 27  pos_rk_prof         268 non-null    float64
 28  ovr_rk_prof         242 non-null    float64
 29  grade_prof          268 non-null    float64
 30  text1_prof          148 non-null    object
 31  text2_prof          177 non-null    object
 32  text3_prof          37 non-null     object
 33  _merge              621 non-null    category
dtypes: category(1), float64(15), int64(2), object(16)
memory usage: 161.0+ KB

None

In [33]:
# NOT USED
# # merge cells with an outer join and investigate any mismatched data:

# qb_df2 = qb_prospects_clean_df.merge(qb_profiles_clean_df, indicator = True, how = 'outer', left_on='player_id', right_on='player_id_prof')
# display(qb_df2.head())

# # remove shared rows and print differences between DataFrames.
# qb_diff_df2 = qb_df2.loc[lambda x: x['_merge'] != 'both']
# display(qb_diff_df2.head())

In [92]:
# List of player names with 'nan' height values
player_names_with_nan_height = [
    'Steve Spurrier', 'Bob Griese', 'Don Horn', 'Bo Burris', 'Bob Davis', 
    'Vidal Carlin', 'Terry Southall', 'Tim Jones', 'Virgil Carter', 'Rick Egloff', 
    'Corey Colehour', 'Bruce Matte', 'Greg Landry', 'Gary Beban', 'Mike Livingston', 
    'Ken Stabler', 'Gary Davis', 'Billy Stevens', 'Ronnie South', 'Kim Hammond', 
    'Dewey Warren', 'John Schneider', 'Greg Cook', 'Marty Domres', 'Terry Hanratty'
]

# Replace 'nan' with np.nan in the 'height' column for these player names
merged_df.loc[merged_df[merged_df['height'] == 'nan'), 'height'] = np.nan]

# Display the updated DataFrame
display(merged_df.head())
display(merged_df.info())

,_merge,alt_player_id_prof,draft_year,grade,grade_prof,guid,guid_prof,height,height_prof,overall,...,school_prof,team,team_abbr,text1_prof,text2_prof,text3_prof,trade_note,traded,weight,weight_prof
0,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,Florida,San Francisco 49ers,SF,NaN,NaN,NaN,from Atlanta,False,NaN,NaN
1,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,Purdue,Miami Dolphins,MIA,NaN,NaN,NaN,NaN,False,NaN,NaN
2,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,25.0,...,San Diego State,Green Bay Packers,GB,NaN,NaN,NaN,NaN,False,NaN,NaN
3,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,27.0,...,Houston,New Orleans Saints,NO,NaN,NaN,NaN,NaN,False,NaN,NaN
4,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,30.0,...,Virginia,Houston Oilers,TEN,NaN,NaN,NaN,NaN,False,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621 entries, 0 to 620
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _merge              621 non-null    category
 1   alt_player_id_prof  289 non-null    float64
 2   draft_year          621 non-null    int64
 3   grade               278 non-null    float64
 4   grade_prof          268 non-null    float64
 5   guid                299 non-null    object
 6   guid_prof           290 non-null    object
 7   height              280 non-null    float64
 8   height_prof         270 non-null    float64
 9   overall             557 non-null    float64
 10  ovr_rk              248 non-null    float64
 11  ovr_rk_prof         242 non-null    float64
 12  pick                557 non-null    float64
 13  player_id           621 non-null    int64
 14  player_id_prof      606 non-null    float64
 15  player_name         621 non-null    object
 16  player_name_match   606 non-null    object
 17  player_name_prof    606 non-null    object
 18  pos_abbr            621 non-null    object
 19  pos_abbr_prof       606 non-null    object
 20  pos_rk              278 non-null    float64
 21  pos_rk_prof         268 non-null    float64
 22  round               557 non-null    float64
 23  school              611 non-null    object
 24  school_prof         606 non-null    object
 25  team                557 non-null    object
 26  team_abbr           557 non-null    object
 27  text1_prof          148 non-null    object
 28  text2_prof          177 non-null    object
 29  text3_prof          37 non-null     object
 30  trade_note          222 non-null    object
 31  traded              557 non-null    object
 32  weight              281 non-null    float64
 33  weight_prof         309 non-null    float64
dtypes: category(1), float64(15), int64(2), object(16)
memory usage: 161.0+ KB

None

In [93]:
# List of player names with 'nan' height values
player_names_with_nan_height = [
    'Steve Spurrier', 'Bob Griese', 'Don Horn', 'Bo Burris', 'Bob Davis', 
    'Vidal Carlin', 'Terry Southall', 'Tim Jones', 'Virgil Carter', 'Rick Egloff', 
    'Corey Colehour', 'Bruce Matte', 'Greg Landry', 'Gary Beban', 'Mike Livingston', 
    'Ken Stabler', 'Gary Davis', 'Billy Stevens', 'Ronnie South', 'Kim Hammond', 
    'Dewey Warren', 'John Schneider', 'Greg Cook', 'Marty Domres', 'Terry Hanratty'
]

# Filter the DataFrame for these player names with 'nan' in the 'height' column
nan_height_count = merged_df[merged_df['player_name'].isin(player_names_with_nan_height) & merged_df['height'].isna()].shape[0]

# Display the count
print(nan_height_count)

25

In [88]:
merged_df = merged_df.reindex(sorted(merged_df.columns), axis=1)
display(merged_df[merged_df['draft_year'] > 2004].head(60))
display(merged_df.info())
merged_df.columns

,_merge,alt_player_id_prof,draft_year,grade,grade_prof,guid,guid_prof,height,height_prof,overall,...,school_prof,team,team_abbr,text1_prof,text2_prof,text3_prof,trade_note,traded,weight,weight_prof
251,left_only,NaN,2010,30.0,NaN,4855263f8bf2f1c6e4aefc73dffcff20,NaN,75.000,NaN,250.0,...,NaN,New England Patriots,NE,NaN,NaN,NaN,Compensatory Pick,False,214.0,NaN
252,left_only,NaN,2012,32.0,NaN,17788de0cdd7fbd51d8aa901b22886c1,NaN,75.000,NaN,243.0,...,NaN,Green Bay Packers,GB,NaN,NaN,NaN,compensatory,False,233.0,NaN
253,left_only,NaN,2012,33.0,NaN,d778694c61ce971b3aa6ab675d745624,NaN,74.000,NaN,253.0,...,NaN,Indianapolis Colts,IND,NaN,NaN,NaN,NaN,False,219.0,NaN
254,left_only,NaN,2013,50.0,NaN,9bbb096973d09cff160ccf9644d68c55,NaN,75.000,NaN,249.0,...,NaN,Atlanta Falcons,ATL,NaN,NaN,NaN,Compensatory Selection,False,219.0,NaN
255,left_only,NaN,2015,30.0,NaN,4dae14bf5100094c87f74ec55519c08f,NaN,75.000,NaN,250.0,...,NaN,Denver Broncos,DEN,NaN,NaN,NaN,Compensatory,False,220.0,NaN
256,left_only,NaN,2016,47.0,NaN,fb6de2db3a75614677b951a4d078ae5d,NaN,77.000,NaN,139.0,...,NaN,Buffalo Bills,BUF,NaN,NaN,NaN,Compensatory,False,253.0,NaN
281,both,NaN,2005,64.0,NaN,f8047d1a4e960668c9cda5c0342b167c,NaN,74.000,NaN,250.0,...,Washington State,St. Louis Rams,STL,NaN,NaN,NaN,NaN,False,232.0,NaN
299,both,NaN,2017,32.0,NaN,234e1fd878a3b5653c79197cd965cbd9,NaN,74.000,NaN,253.0,...,Marshall,Denver Broncos,DEN,NaN,NaN,NaN,Compensatory,False,228.0,NaN
372,both,2081046.0,2005,98.0,98.0,5cb521dc4af2c7598251a369ffaf4c72,5cb521dc4af2c7598251a369ffaf4c72,76.000,76.125,1.0,...,Utah,San Francisco 49ers,SF,Nephew of Michigan State head coach John L. Sm...,There isn't a lot that separates Aaron Rodgers...,NaN,NaN,False,217.0,217.0
373,both,2129320.0,2005,99.0,99.0,5fbab03e281655abae1083b132803d9e,5fbab03e281655abae1083b132803d9e,74.000,74.000,24.0,...,California,Green Bay Packers,GB,Rodgers is a late-bloomer who took the junior ...,Rodgers was talked about as a potential No. 1 ...,NaN,NaN,False,223.0,223.0
374,both,1946298.0,2005,86.0,86.0,c794b72ed323e01f9bc984d5a48003ff,c794b72ed323e01f9bc984d5a48003ff,77.000,76.750,25.0,...,Auburn,Washington Redskins,WSH,Campbell is a coaches son who also stared in b...,When the Redskins traded into the first round ...,NaN,from Denver,False,230.0,230.0
375,both,1943895.0,2005,85.0,85.0,8c1f48a894b3973eec7212974d0029ee,8c1f48a894b3973eec7212974d0029ee,76.000,75.875,67.0,...,Akron,Cleveland Browns,CLE,"Frye, who has been a starter since his redshir...",NaN,NaN,NaN,False,225.0,225.0
376,both,1946200.0,2005,84.0,84.0,1e26f9a7c1df6b210b01332e40fdfc95,1e26f9a7c1df6b210b01332e40fdfc95,78.000,78.125,69.0,...,Arizona State,Oakland Raiders,OAK,Walter started two games as a freshman in 2001...,NaN,NaN,NaN,False,233.0,233.0
377,both,1943362.0,2005,70.0,70.0,f94a61a63c8ff26cfa874ff8e18877b3,f94a61a63c8ff26cfa874ff8e18877b3,76.000,75.500,85.0,...,Georgia,Seattle Seahawks,SEA,Greene has been a very solid starter since his...,NaN,NaN,NaN,False,226.0,226.0
378,both,2013653.0,2005,79.0,79.0,a6ba34639733e9a6284e7125a8d29c96,a6ba34639733e9a6284e7125a8d29c96,76.000,76.000,106.0,...,Purdue,Chicago Bears,CHI,Orton played in seven games and earned three s...,NaN,NaN,NaN,False,233.0,233.0
379,both,1941600.0,2005,59.0,59.0,b518c8332d8a45a6348f93e245d3aca8,b518c8332d8a45a6348f93e245d3aca8,72.000,72.125,121.0,...,Louisville,Carolina Panthers,CAR,"LeFors' father, mother and brother are all dea...",NaN,NaN,from Seattle,False,208.0,208.0
380,both,1966444.0,2005,67.0,67.0,69f12ca0217051ad60f1aed8fab5f991,69f12ca0217051ad60f1aed8fab5f991,77.000,77.000,145.0,...,UConn,Detroit Lions,DET,Orlovsky rewrote the record books while transi...,New England traded the 145th and a 6th round s...,NaN,from Arizona through New England,False,225.0,225.0
381,both,1967648.0,2005,68.0,68.0,157c91a0abd2ce7e114c209a8c559a37,157c91a0abd2ce7e114c209a8c559a37,76.000,75.500,152.0,...,Florida State,New Orleans Saints,NO,McPherson became the first athlete to ever win...,NaN,NaN,NaN,False,218.0,218.0
382,both,2013745.0,2005,73.0,73.0,ddfe7516042200bce053b9584341eec5,ddfe7516042200bce053b9584341eec5,78.000,78.125,213.0,...,Oregon State,Baltimore Ravens,BAL,"Anderson, ambidextrous, was a highly-touted at...",NaN,NaN,NaN,False,242.0,242.0
383,both,1941176.0,2005,30.0,30.0,4732cda3fa1be7a78029e98fe920c4dd,4732cda3fa1be7a78029e98fe920c4dd,75.000,74.750,229.0,...,Tulsa,Kansas City Chiefs,KC,Kilian redshirted in 2000 and started just thr...,NaN,NaN,NaN,False,215.0,215.0
384,both,1946347.0,2005,NaN,NaN,e512fd7784cfd7f03c3a56c767edca9f,e512fd7784cfd7f03c3a56c767edca9f,NaN,NaN,230.0,...,USC,New England Patriots,NE,NaN,NaN,NaN,from Minnesota through N.Y. Jets and Oakland,False,NaN,NaN
385,both,1953877.0,2005,63.0,63.0,00be888b38b5e26fc4b4d18aca23e7b7,00be888b38b5e26fc4b4d18aca23e7b7,74.500,74.500,NaN,...,Oklahoma,NaN,NaN,White started just four games prior to his Hei...,NaN,NaN,NaN,NaN,223.0,223.0
386,both,1942209.0,2005,61.0,61.0,168fe011ec169a3ab462b78c3f3f47c5,168fe011ec169a3ab462b78c3f3f47c5,73.000,73.000,NaN,...,Hawai'i,NaN,NaN,Chang has had a rollercoaster of a college foo...,NaN,NaN,NaN,NaN,211.0,211.0
387,both,1966478.0,2005,53.0,53.0,76ded17fb42a09dfeb6ffe81a268a501,76ded17fb42a09dfeb6ffe81a268a501,72.250,72.250,NaN,...,Virginia Tech,NaN,NaN,Randall saw action in all but three games duri...,NaN,NaN,NaN,NaN,225.0,225.0
388,both,1946513.0,2005,49.0,49.0,49b3a60a1966f1911e400f7a8ac3bacb,49b3a60a1966f1911e400f7a8ac3bacb,74.000,74.000,NaN,...,Florida State,NaN,NaN,Rix started all 12 games as a freshman in 2001...,NaN,NaN,NaN,NaN,214.0,214.0
389,both,2013675.0,2005,46.0,46.0,7671cffe3932ddf5535d66b29b468983,7671cffe3932ddf5535d66b29b468983,75.750,75.750,NaN,...,Cincinnati,NaN,NaN,Guidugli has been Cincinnati's starting quarte...,NaN,NaN,NaN,NaN,229.0,229.0
390,both,2137757.0,2005,42.0,42.0,fc7e07a15f78095e6478ff18837c6c1c,fc7e07a15f78095e6478ff18837c6c1c,73.875,73.875,NaN,...,Temple,NaN,NaN,Washington attended Dodge City Community Colle...,NaN,NaN,NaN,NaN,237.0,237.0
391,both,47239.0,2005,37.0,37.0,acd4f9ed7553dbcec6c4b72d6048521b,acd4f9ed7553dbcec6c4b72d6048521b,74.500,74.500,NaN,...,Sam Houston State,NaN,NaN,Long started nine games in 2002 and one game i...,NaN,NaN,NaN,NaN,208.0,208.0
392,both,44364.0,2005,36.0,36.0,266f2deba96802783ce393364c4c1a52,266f2deba96802783ce393364c4c1a52,73.750,73.750,NaN,...,Montana,NaN,NaN,Ochs began his career at Colorado in 2000. He...,NaN,NaN,NaN,NaN,218.0,218.0
393,both,2012156.0,2005,33.0,33.0,47e95d2ed0d83319df842c2e0eded37c,47e95d2ed0d83319df842c2e0eded37c,74.250,74.250,NaN,...,Florida Atlantic,NaN,NaN,Allen red-shirted his freshman season in 2000 ...,NaN,NaN,NaN,NaN,218.0,218.0
394,both,1943169.0,2005,31.0,31.0,a3e1be342979fa563eccad94b78982c1,a3e1be342979fa563eccad94b78982c1,71.000,71.000,NaN,...,North Carolina,NaN,NaN,Durant was unhappy early in his career at UNC ...,NaN,NaN,NaN,NaN,215.0,215.0
395,both,2079653.0,2006,97.0,97.0,8a566151926d25a918e430d6b24c70ac,8a566151926d25a918e430d6b24c70ac,77.000,76.625,3.0,...,Texas,Tennessee Titans,TEN,Young redshirted in 2002 and started seven of ...,There is a lot to like about Young's arm stren...,NaN,NaN,False,229.0,229.0
396,both,1962897.0,2006,98.0,98.0,aa355d378a68b11239e90dc057a5ce60,aa355d378a68b11239e90dc057a5ce60,77.000,76.875,10.0,...,USC,Arizona Cardinals,ARI,"Leinart, who replaced Heisman Trophy winner Ca...",Talk about getting the most bang for your buck...,NaN,NaN,False,223.0,223.0
397,both,1956095.0,2006,96.0,96.0,0929f9fbf84fc27809aa42a850ec5b11,0929f9fbf84fc27809aa42a850ec5b11,75.000,75.250,11.0,...,Vanderbilt,Denver Broncos,DEN,Cutler took over as a fulltime starter as a re...,The quarterback talent in this draft drops off...,NaN,from St. Louis,False,226.0,226.0
398,both,1966586.0,2006,85.0,85.0,d66f23dbd22473ae28398febd3427f1c,d66f23dbd22473ae28398febd3427f1c,74.000,73.625,49.0,...,Oregon,New York Jets,NYJ,Clemens played sparingly as a freshman in 2002...,The Jets maneuvered back up in the second roun...,NaN,from Dallas,False,224.0,224.0
399,both,1956543.0,2006,65.0,65.0,fc975ce1f6fef2024161b8ea62daed32,fc975ce1f6fef2024161b8ea62daed32,74.000,74.000,64.0,...,Alabama State,Minnesota Vikings,MIN,Jackson appeared in three games of the 2001 se...,The Vikings took Jackson earlier than expected...,NaN,from Pittsburgh,False,226.0,226.0
400,both,1957691.0,2006,77.0,77.0,0e811ba4444be2e39e92b1126611ce8c,0e811ba4444be2e39e92b1126611ce8c,77.000,76.750,81.0,...,Clemson,San Diego Chargers,SD,Whitehurst redshirted in 2001 and ranked secon...,NaN,NaN,NaN,False,223.0,223.0
401,both,1962877.0,2006,81.0,81.0,79c8a9cd853dd1f43337bb1b31b9a958,79c8a9cd853dd1f43337bb1b31b9a958,75.000,74.500,85.0,...,Alabama,Kansas City Chiefs,KC,Croyle redshirted in 2001. He started two gam...,NaN,NaN,NaN,False,205.0,205.0
402,both,NaN,2006,35.0,35.0,NaN,NaN,74.000,74.250,148.0,...,Furman,Green Bay Packers,GB,Florida red-shirted Martin in 2001. He played ...,NaN,NaN,from Atlanta,False,220.0,220.0
403,both,2080528.0,2006,72.0,72.0,b5386ea4bd86d6318ba106fb225e6271,b5386ea4bd86d6318ba106fb225e6271,76.000,76.000,164.0,...,Bowling Green,Pittsburgh Steelers,PIT,Played sparingly as a backup to Josh Harris (B...,NaN,NaN,NaN,False,232.0,232.0
404,both,1956380.0,2006,63.0,63.0,a7bbfecc92be33f87ca0b56ff514d7f7,a7bbfecc92be33f87ca0b56ff514d7f7,73.000,73.375,194.0,...,Toledo,Tampa Bay Buccaneers,TB,Gradkowski redshirted in 2001 and saw limited ...,NaN,NaN,from N.Y. Giants,False,217.0,217.0
405,both,1959317.0,2006,59.0,59.0,238800b8c22520f3ea463bcb522e9142,238800b8c22520f3ea463bcb522e9142,73.000,73.125,223.0,...,Georgia,Atlanta Falcons,ATL,Shockley was one of the most highly recruited ...,NaN,NaN,NaN,False,214.0,214.0
406,both,2131833.0,2007,98.0,98.0,35a9c3f020cecde1433aa0b663eb1383,35a9c3f020cecde1433aa0b663eb1383,78.000,77.500,1.0,...,LSU,Oakland Raiders,OAK,Russell arrived at LSU in 2003 and was redshir...,Russell is the obvious pick for the Raiders be...,NaN,NaN,False,256.0,256.0
407,both,2129232.0,2007,97.0,97.0,28b64d2c0a09417a70b4e4feb6b7670c,28b64d2c0a09417a70b4e4feb6b7670c,76.000,75.750,22.0,...,Notre Dame,Cleveland Browns,CLE,"Quinn appeared in all 12 games, starting the f...",Quinn has the poise to step in right away and ...,NaN,from Dallas,False,232.0,232.0
408,both,2131954.0,2007,71.0,71.0,56314292d8a425dcc17442a8f133edcc,56314292d8a425dcc17442a8f133edcc,75.000,75.125,36.0,...,Houston,Philadelphia Eagles,PHI,Kolb started all 13 games as a true freshman a...,The reason is Kolb is an excellent fit for the...,NaN,from Cleveland through Dallas,False,218.0,218.0
409,both,2126596.0,2007,86.0,86.0,395352b5282afb79a4e3712a4fb4fbc7,395352b5282afb79a4e3712a4fb4fbc7,74.000,74.125,40.0,...,BYU,Miami Dolphins,MIA,"Beck served a Church mission in Lisbon, Portug...","Beck is smart, mechanically sound and accurat...",NaN,NaN,False,215.0,215.0
410,both,2081496.0,2007,87.0,87.0,f4b32bb99c140179189ab3da2cab3553,f4b32bb99c140179189ab3da2cab3553,75.000,75.250,43.0,...,Michigan State,Detroit Lions,DET,Stanton redshirted in 2002. He played in all ...,Stanton doesn't have elite arm strength or siz...,NaN,from Buffalo,False,226.0,226.0
411,both,2081709.0,2007,85.0,85.0,d49f2d3bb0198e7b69f9fbfaa3c94792,d49f2d3bb0198e7b69f9fbfaa3c94792,76.000,76.125,92.0,...,Stanford,Buffalo Bills,BUF,Edwards arrived at Stanford in 2002 and was re...,NaN,NaN,from Baltimore,False,231.0,231.0
412,both,2081929.0,2007,59.0,59.0,efbfb0bc494ecaece4b0b10311f07c74,efbfb0bc494ecaece4b0b10311f07c74,74.000,74.375,103.0,...,Washington,Dallas Cowboys,DAL,Stanback was redshirted in 2002. He appeared ...,NaN,NaN,from Cleveland,False,216.0,216.0
413,both,2079687.0,2007,39.0,39.0,9099493267cd41e19069827be3fff717,9099493267cd41e19069827be3fff717,77.000,77.250,151.0,...,Nevada,Cincinnati Bengals,CIN,Rowe served as Nevada's backup during his true...,NaN,NaN,NaN,False,226.0,226.0
414,both,2089217.0,2007,70.0,70.0,678c35f30cc2f77002f17087fb8fbccc,678c35f30cc2f77002f17087fb8fbccc,72.000,72.000,174.0,...,Ohio State,Baltimore Ravens,BAL,Smith was the last recruit signed by Ohio Stat...,NaN,NaN,NaN,False,225.0,225.0
415,both,2080311.0,2007,44.0,44.0,be68a7f659ad7fc36910ba715bb57f9a,be68a7f659ad7fc36910ba715bb57f9a,78.000,77.625,205.0,...,UTEP,Washington Redskins,WSH,Palmer was redshirted in 2002 and suffered a b...,NaN,NaN,from Chicago,False,231.0,231.0
416,both,2139773.0,2007,20.0,20.0,44c05a745bd93558558e77341c44c94d,44c05a745bd93558558e77341c44c94d,74.000,73.500,217.0,...,Coastal Carolina,Minnesota Vikings,MIN,NaN,NaN,NaN,NaN,False,216.0,216.0
417,both,2127584.0,2007,56.0,56.0,1ece43281a4a631d9029af3a886620f6,1ece43281a4a631d9029af3a886620f6,71.875,71.875,NaN,...,Florida,NaN,NaN,Leak began his freshman year in 2003 as part o...,NaN,NaN,NaN,NaN,209.0,209.0
418,both,2079772.0,2007,50.0,50.0,ed66227a54e3125346b4c27291b49c8c,ed66227a54e3125346b4c27291b49c8c,73.375,73.375,NaN,...,Pittsburgh,NaN,NaN,Palko saw very limited action as a true freshm...,NaN,NaN,NaN,NaN,215.0,215.0
419,both,2081672.0,2007,49.0,49.0,41cf28d6f3f11d2146bbd6b7b8d33512,41cf28d6f3f11d2146bbd6b7b8d33512,73.750,73.750,NaN,...,Boise State,NaN,NaN,Zabransky was redshirted in 2002. He appeared ...,NaN,NaN,NaN,NaN,204.0,204.0
420,both,2079607.0,2007,36.0,36.0,fec4a5a074293332afc021c366a96ea4,fec4a5a074293332afc021c366a96ea4,75.375,75.375,NaN,...,Oregon State,NaN,NaN,Moore began his career in 2002 at UCLA and app...,NaN,NaN,NaN,NaN,191.0,191.0
421,both,2184471.0,2007,32.0,32.0,d84ea9cc975a33d08a19d87b1bb1ddab,d84ea9cc975a33d08a19d87b1bb1ddab,74.375,74.375,NaN,...,Nebraska,NaN,NaN,"Taylor originally attended Wake Forest, where ...",NaN,NaN,NaN,NaN,216.0,216.0
422,both,NaN,2007,31.0,31.0,NaN,NaN,74.500,74.500,NaN,...,East Carolina,NaN,NaN,Pinkney was redshirted during the 2002 season....,NaN,NaN,NaN,NaN,208.0,208.0
423,both,2125735.0,2008,98.0,98.0,c79f38c2a37e5dfcdd3da91f4811b2cd,c79f38c2a37e5dfcdd3da91f4811b2cd,77.000,76.750,3.0,...,Boston College,Atlanta Falcons,ATL,Ryan was redshirted for the 2003 season. In hi...,Matt Ryan doesn't have the arm strength of a J...,NaN,NaN,False,228.0,228.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621 entries, 0 to 620
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _merge              621 non-null    category
 1   alt_player_id_prof  289 non-null    float64
 2   draft_year          621 non-null    int64
 3   grade               278 non-null    float64
 4   grade_prof          268 non-null    float64
 5   guid                299 non-null    object
 6   guid_prof           290 non-null    object
 7   height              280 non-null    float64
 8   height_prof         270 non-null    float64
 9   overall             557 non-null    float64
 10  ovr_rk              248 non-null    float64
 11  ovr_rk_prof         242 non-null    float64
 12  pick                557 non-null    float64
 13  player_id           621 non-null    int64
 14  player_id_prof      606 non-null    float64
 15  player_name         621 non-null    object
 16  player_name_match   606 non-null    object
 17  player_name_prof    606 non-null    object
 18  pos_abbr            621 non-null    object
 19  pos_abbr_prof       606 non-null    object
 20  pos_rk              278 non-null    float64
 21  pos_rk_prof         268 non-null    float64
 22  round               557 non-null    float64
 23  school              611 non-null    object
 24  school_prof         606 non-null    object
 25  team                557 non-null    object
 26  team_abbr           557 non-null    object
 27  text1_prof          148 non-null    object
 28  text2_prof          177 non-null    object
 29  text3_prof          37 non-null     object
 30  trade_note          222 non-null    object
 31  traded              557 non-null    object
 32  weight              281 non-null    float64
 33  weight_prof         309 non-null    float64
dtypes: category(1), float64(15), int64(2), object(16)
memory usage: 161.0+ KB

None

Index(['_merge', 'alt_player_id_prof', 'draft_year', 'grade', 'grade_prof',
       'guid', 'guid_prof', 'height', 'height_prof', 'overall', 'ovr_rk',
       'ovr_rk_prof', 'pick', 'player_id', 'player_id_prof', 'player_name',
       'player_name_match', 'player_name_prof', 'pos_abbr', 'pos_abbr_prof',
       'pos_rk', 'pos_rk_prof', 'round', 'school', 'school_prof', 'team',
       'team_abbr', 'text1_prof', 'text2_prof', 'text3_prof', 'trade_note',
       'traded', 'weight', 'weight_prof'],
      dtype='object')

In [71]:
compare_cols = {
    'height': 'height_prof',
    'player_id': 'player_id_prof',#'alt_player_id_prof',
    'grade': 'grade_prof',
    'guid': 'guid_prof', 
    'ovr_rk': 'ovr_rk_prof', 
    'player_name': 'player_name_prof', 
    'pos_abbr': 'pos_abbr_prof',
    'pos_rk': 'pos_rk_prof', 
    'school': 'school_prof', 
    'weight': 'weight_prof'
}

compare_df = merged_df.copy()

def compare_columns(row, col1, col2):
    '''This function checks two columns, pulling from a dictionary of columns to compare.
    It creates a new column called "{col1}_alt".
      If values are equal or both NaN, place value from col1 in col1_alt
      If there is a valid value in both columns, place value from col2 in col1_alt with an appended *.
      If one value is NaN, and the other is a valid value, return the valid value.'''
    
    val1, val2 = row[col1], row[col2]
    if (pd.isna(val1) and pd.isna(val2)) or (val1 == val2):
        return val1
    elif pd.notna(val1) and pd.notna(val2):
        if isinstance(val1, float) and isinstance(val2, float):
            return val1 if len(str(val1)) >= len(str(val2)) else val2
        else:
            return f'{val1}*'
    elif pd.notna(val1) and pd.isna(val2):
        return val1
    elif pd.isna(val1) and pd.notna(val2):
        return val2
    else:
        return 'none found'

for col1, col2 in compare_cols.items():
    # Check if columns exist in DataFrame
    if col1 in compare_df.columns and col2 in compare_df.columns:
        # Creating a new column to store comparison results
        compare_df[f'{col1}_compare'] = compare_df.apply(lambda row: compare_columns(row, col1, col2), axis=1)
    else:
        print(f"Columns {col1} or {col2} not found in DataFrame")

# DataFrame of compared columns
compare_cols_list = [col1 for col1 in compare_cols] + [col2 for col2 in compare_cols.values()] + [f'{col1}_compare' for col1 in compare_cols]
df_col_compares = compare_df[compare_cols_list]

# Show mismatch rows
mismatch_df = df_col_compares[df_col_compares.apply(lambda x: 'none found' in x.values, axis=1)]

display(mismatch_df.head())
display(mismatch_df.info())
display(df_col_compares[pd.notna(df_col_compares[[f'{col1}_compare' for col1 in compare_cols]].values).any(axis=1)].head())
display(df_col_compares.info())

Empty DataFrame
Columns: [height, player_id, grade, guid, ovr_rk, player_name, pos_abbr, pos_rk, school, weight, height_prof, player_id_prof, grade_prof, guid_prof, ovr_rk_prof, player_name_prof, pos_abbr_prof, pos_rk_prof, school_prof, weight_prof, height_compare, player_id_compare, grade_compare, guid_compare, ovr_rk_compare, player_name_compare, pos_abbr_compare, pos_rk_compare, school_compare, weight_compare]
Index: []

[0 rows x 30 columns]

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   height               0 non-null      float64
 1   player_id            0 non-null      int64
 2   grade                0 non-null      float64
 3   guid                 0 non-null      object
 4   ovr_rk               0 non-null      float64
 5   player_name          0 non-null      object
 6   pos_abbr             0 non-null      object
 7   pos_rk               0 non-null      float64
 8   school               0 non-null      object
 9   weight               0 non-null      float64
 10  height_prof          0 non-null      float64
 11  player_id_prof       0 non-null      float64
 12  grade_prof           0 non-null      float64
 13  guid_prof            0 non-null      object
 14  ovr_rk_prof          0 non-null      float64
 15  player_name_prof     0 non-null      object
 16  pos_abbr_prof        0 non-null      object
 17  pos_rk_prof          0 non-null      float64
 18  school_prof          0 non-null      object
 19  weight_prof          0 non-null      float64
 20  height_compare       0 non-null      float64
 21  player_id_compare    0 non-null      object
 22  grade_compare        0 non-null      float64
 23  guid_compare         0 non-null      object
 24  ovr_rk_compare       0 non-null      float64
 25  player_name_compare  0 non-null      object
 26  pos_abbr_compare     0 non-null      object
 27  pos_rk_compare       0 non-null      float64
 28  school_compare       0 non-null      object
 29  weight_compare       0 non-null      float64
dtypes: float64(16), int64(1), object(13)
memory usage: 0.0+ bytes

None

,height,player_id,grade,guid,ovr_rk,player_name,pos_abbr,pos_rk,school,weight,...,height_compare,player_id_compare,grade_compare,guid_compare,ovr_rk_compare,player_name_compare,pos_abbr_compare,pos_rk_compare,school_compare,weight_compare
0,NaN,23592,NaN,NaN,NaN,Steve Spurrier,QB,NaN,Florida,NaN,...,NaN,23592,NaN,NaN,NaN,Steve Spurrier,QB,NaN,Florida,NaN
1,NaN,23593,NaN,NaN,NaN,Bob Griese,QB,NaN,Purdue,NaN,...,NaN,23593,NaN,NaN,NaN,Bob Griese,QB,NaN,Purdue,NaN
2,NaN,23614,NaN,NaN,NaN,Don Horn,QB,NaN,San Diego State,NaN,...,NaN,23614,NaN,NaN,NaN,Don Horn,QB,NaN,San Diego State,NaN
3,NaN,23616,NaN,NaN,NaN,Bo Burris,QB,NaN,Houston,NaN,...,NaN,23616,NaN,NaN,NaN,Bo Burris,QB,NaN,Houston,NaN
4,NaN,23619,NaN,NaN,NaN,Bob Davis,QB,NaN,Virginia,NaN,...,NaN,23619,NaN,NaN,NaN,Bob Davis,QB,NaN,Virginia,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621 entries, 0 to 620
Data columns (total 30 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   height               280 non-null    float64
 1   player_id            621 non-null    int64
 2   grade                278 non-null    float64
 3   guid                 299 non-null    object
 4   ovr_rk               248 non-null    float64
 5   player_name          621 non-null    object
 6   pos_abbr             621 non-null    object
 7   pos_rk               278 non-null    float64
 8   school               611 non-null    object
 9   weight               281 non-null    float64
 10  height_prof          270 non-null    float64
 11  player_id_prof       606 non-null    float64
 12  grade_prof           268 non-null    float64
 13  guid_prof            290 non-null    object
 14  ovr_rk_prof          242 non-null    float64
 15  player_name_prof     606 non-null    object
 16  pos_abbr_prof        606 non-null    object
 17  pos_rk_prof          268 non-null    float64
 18  school_prof          606 non-null    object
 19  weight_prof          309 non-null    float64
 20  height_compare       280 non-null    float64
 21  player_id_compare    621 non-null    object
 22  grade_compare        278 non-null    float64
 23  guid_compare         299 non-null    object
 24  ovr_rk_compare       248 non-null    float64
 25  player_name_compare  621 non-null    object
 26  pos_abbr_compare     621 non-null    object
 27  pos_rk_compare       278 non-null    float64
 28  school_compare       621 non-null    object
 29  weight_compare       319 non-null    float64
dtypes: float64(16), int64(1), object(13)
memory usage: 145.7+ KB

None

In [84]:
# display(merged_df[)

nan_count = len(merged_df['height'] == 'nan')
print(nan_count)
              
# # Assuming refreshed_df is your DataFrame and 'your_column' is the column you're interested in
# non_numerical_values = refreshed_df[~pd.to_numeric(refreshed_df['your_column'], errors='coerce').notna()]

# # Display the non-numerical values
# display(non_numerical_values)

621

In [78]:

compare_cols = {
    'height': 'height_prof',
    'player_id': 'player_id_prof',#'alt_player_id_prof',
    'grade': 'grade_prof',
    'guid': 'guid_prof', 
    'ovr_rk': 'ovr_rk_prof', 
    'player_name': 'player_name_prof', 
    'pos_abbr': 'pos_abbr_prof',
    'pos_rk': 'pos_rk_prof', 
    'school': 'school_prof', 
    'weight': 'weight_prof'
}

# Function to update columns
def update_columns(row, col1, col2):
    '''This function updates col1 based on the value of col2.
    If col1 contains a value (not NaN), leave the value.
    If col1 is NaN, check col2 for a value and replace col1 if col2 has a valid value.
    Print messages for replacements and errors.'''
    
    val1, val2 = row[col1], row[col2]
    if pd.notna(val1):
        return val1
    elif pd.isna(val1) and pd.notna(val2):
        print(f"Replacing row ('{row['player_name']}') {val1} with ({val2})")
        return val2
    else:
        print(f"Error in {col1} check, line with {row['player_name']} '{val1}' and '{val2}' values")
        return val1

# Function to create and replace compare columns in the DataFrame
def create_and_replace(df, compare_cols):
    df_copy = df.copy()
    
    for col1, col2 in compare_cols.items():
        # Check if columns exist in DataFrame
        if col1 in df_copy.columns and col2 in df_copy.columns:
            # Update columns
            df_copy[col1] = df_copy.apply(lambda row: update_columns(row, col1, col2), axis=1)
        else:
            print(f"Columns {col1} or {col2} not found in DataFrame")
    
    return df_copy


refreshed_df = create_and_replace(merged_df, compare_cols)

# Display the updated DataFrame
display(refreshed_df.head())
display(refreshed_df.info())

Error in height check, line with Steve Spurrier 'nan' and 'nan' values
Error in height check, line with Bob Griese 'nan' and 'nan' values
Error in height check, line with Don Horn 'nan' and 'nan' values
Error in height check, line with Bo Burris 'nan' and 'nan' values
Error in height check, line with Bob Davis 'nan' and 'nan' values
Error in height check, line with Vidal Carlin 'nan' and 'nan' values
Error in height check, line with Terry Southall 'nan' and 'nan' values
Error in height check, line with Tim Jones 'nan' and 'nan' values
Error in height check, line with Virgil Carter 'nan' and 'nan' values
Error in height check, line with Rick Egloff 'nan' and 'nan' values
Error in height check, line with Corey Colehour 'nan' and 'nan' values
Error in height check, line with Bruce Matte 'nan' and 'nan' values
Error in height check, line with Greg Landry 'nan' and 'nan' values
Error in height check, line with Gary Beban 'nan' and 'nan' values
Error in height check, line with Mike Livingston 'nan' and 'nan' values
Error in height check, line with Ken Stabler 'nan' and 'nan' values
Error in height check, line with Gary Davis 'nan' and 'nan' values
Error in height check, line with Billy Stevens 'nan' and 'nan' values
Error in height check, line with Ronnie South 'nan' and 'nan' values
Error in height check, line with Kim Hammond 'nan' and 'nan' values
Error in height check, line with Dewey Warren 'nan' and 'nan' values
Error in height check, line with John Schneider 'nan' and 'nan' values
Error in height check, line with Greg Cook 'nan' and 'nan' values
Error in height check, line with Marty Domres 'nan' and 'nan' values
Error in height check, line with Terry Hanratty 'nan' and 'nan' values
Error in height check, line with Bobby Douglass 'nan' and 'nan' values
Error in height check, line with Al Woodall 'nan' and 'nan' values
Error in height check, line with Onree Jackson 'nan' and 'nan' values
Error in height check, line with Terry Bradshaw 'nan' and 'nan' values
Error in height check, line with Mike Phipps 'nan' and 'nan' values
Error in height check, line with Dennis Shaw 'nan' and 'nan' values
Error in height check, line with Bill Cappleman 'nan' and 'nan' values
Error in height check, line with Steve Ramsey 'nan' and 'nan' values
Error in height check, line with Bob Cutburth 'nan' and 'nan' values
Error in height check, line with Rusty Clark 'nan' and 'nan' values
Error in height check, line with Mike Cilek 'nan' and 'nan' values
Error in height check, line with Gordon Slade 'nan' and 'nan' values
Error in height check, line with Jim Plunkett 'nan' and 'nan' values
Error in height check, line with Archie Manning 'nan' and 'nan' values
Error in height check, line with Dan Pastorini 'nan' and 'nan' values
Error in height check, line with Lynn Dickey 'nan' and 'nan' values
Error in height check, line with Leo Hart 'nan' and 'nan' values
Error in height check, line with Ken Anderson 'nan' and 'nan' values
Error in height check, line with Karl Douglas 'nan' and 'nan' values
Error in height check, line with Joe Theismann 'nan' and 'nan' values
Error in height check, line with Scott Hunter 'nan' and 'nan' values
Error in height check, line with Frank Harris 'nan' and 'nan' values
Error in height check, line with Buddy Lee 'nan' and 'nan' values
Error in height check, line with Jerry Tagge 'nan' and 'nan' values
Error in height check, line with John Reaves 'nan' and 'nan' values
Error in height check, line with Pat Sullivan 'nan' and 'nan' values
Error in height check, line with Jim Fassel 'nan' and 'nan' values
Error in height check, line with Dean Carlson 'nan' and 'nan' values
Error in height check, line with Bert Jones 'nan' and 'nan' values
Error in height check, line with Gary Huff 'nan' and 'nan' values
Error in height check, line with Ron Jaworski 'nan' and 'nan' values
Error in height check, line with Gary Keithley 'nan' and 'nan' values
Error in height check, line with Joe Ferguson 'nan' and 'nan' values
Error in height check, line with Dan Fouts 'nan' and 'nan' values
Error in height check, line with Mike Wells 'nan' and 'nan' values
Error in height check, line with Randy Mattingly 'nan' and 'nan' values
Error in height check, line with Don Strock 'nan' and 'nan' values
Error in height check, line with Danny White 'nan' and 'nan' values
Error in height check, line with David Jaynes 'nan' and 'nan' values
Error in height check, line with Kim McQuilken 'nan' and 'nan' values
Error in height check, line with Gary Marangi 'nan' and 'nan' values
Error in height check, line with Carl Summerell 'nan' and 'nan' values
Error in height check, line with Mike Boryla 'nan' and 'nan' values
Error in height check, line with Norris Weese 'nan' and 'nan' values
Error in height check, line with Jesse Freitas 'nan' and 'nan' values
Error in height check, line with Steve Bartkowski 'nan' and 'nan' values
Error in height check, line with Mike Franckowiak 'nan' and 'nan' values
Error in height check, line with Gary Sheide 'nan' and 'nan' values
Error in height check, line with Steve Grogan 'nan' and 'nan' values
Error in height check, line with Dave Humm 'nan' and 'nan' values
Error in height check, line with Bob Avellini 'nan' and 'nan' values
Error in height check, line with Tom Shuman 'nan' and 'nan' values
Error in height check, line with Steve Joachim 'nan' and 'nan' values
Error in height check, line with Pat Haden 'nan' and 'nan' values
Error in height check, line with Richard Todd 'nan' and 'nan' values
Error in height check, line with Mike Kruczek 'nan' and 'nan' values
Error in height check, line with Jeb Blount 'nan' and 'nan' values
Error in height check, line with Steve Myer 'nan' and 'nan' values
Error in height check, line with Gene Swick 'nan' and 'nan' values
Error in height check, line with Craig Penrose 'nan' and 'nan' values
Error in height check, line with Mike Kirkland 'nan' and 'nan' values
Error in height check, line with Scott Bull 'nan' and 'nan' values
Error in height check, line with Scott Covington 'nan' and 'nan' values
Error in height check, line with Parnell Dickinson 'nan' and 'nan' values
Error in height check, line with Bob Bateman 'nan' and 'nan' values
Error in height check, line with Steve Pisarkiewicz 'nan' and 'nan' values
Error in height check, line with Tommy Kramer 'nan' and 'nan' values
Error in height check, line with Glenn Carano 'nan' and 'nan' values
Error in height check, line with Vince Ferragamo 'nan' and 'nan' values
Error in height check, line with Fred Besana 'nan' and 'nan' values
Error in height check, line with Randy Dean 'nan' and 'nan' values
Error in height check, line with Cliff Stoudt 'nan' and 'nan' values
Error in height check, line with Cliff Olander 'nan' and 'nan' values
Error in height check, line with Vince Evans 'nan' and 'nan' values
Error in height check, line with Tommy Duniven 'nan' and 'nan' values
Error in height check, line with Doug Williams 'nan' and 'nan' values
Error in height check, line with Matt Cavanaugh 'nan' and 'nan' values
Error in height check, line with Guy Benjamin 'nan' and 'nan' values
Error in height check, line with Mark Miller 'nan' and 'nan' values
Error in height check, line with Gifford Nielsen 'nan' and 'nan' values
Error in height check, line with Pete Woods 'nan' and 'nan' values
Error in height check, line with Mark Manges 'nan' and 'nan' values
Error in height check, line with Rob Hertel 'nan' and 'nan' values
Error in height check, line with Mike Rieker 'nan' and 'nan' values
Error in height check, line with Jack Thompson 'nan' and 'nan' values
Error in height check, line with Phil Simms 'nan' and 'nan' values
Error in height check, line with Steve Fuller 'nan' and 'nan' values
Error in height check, line with Joe Montana 'nan' and 'nan' values
Error in height check, line with Steve Dils 'nan' and 'nan' values
Error in height check, line with Dan Manucci 'nan' and 'nan' values
Error in height check, line with Rick Leach 'nan' and 'nan' values
Error in height check, line with Chuck Fusina 'nan' and 'nan' values
Error in height check, line with Mike Moroski 'nan' and 'nan' values
Error in height check, line with Marc Wilson 'nan' and 'nan' values
Error in height check, line with Mark Malone 'nan' and 'nan' values
Error in height check, line with Gene Bradley 'nan' and 'nan' values
Error in height check, line with Eric Hipple 'nan' and 'nan' values
Error in height check, line with Rusty Lisch 'nan' and 'nan' values
Error in height check, line with Ed Luther 'nan' and 'nan' values
Error in height check, line with Paul McDonald 'nan' and 'nan' values
Error in height check, line with Bill Hurley 'nan' and 'nan' values
Error in height check, line with Gary Hogeboom 'nan' and 'nan' values
Error in height check, line with Scott Brunner 'nan' and 'nan' values
Error in height check, line with Craig Bradshaw 'nan' and 'nan' values
Error in height check, line with Rich Campbell 'nan' and 'nan' values
Error in height check, line with Neil Lomax 'nan' and 'nan' values
Error in height check, line with Tom Flick 'nan' and 'nan' values
Error in height check, line with Brad Wright 'nan' and 'nan' values
Error in height check, line with Mark Herrmann 'nan' and 'nan' values
Error in height check, line with Art Schlichter 'nan' and 'nan' values
Error in height check, line with Jim McMahon 'nan' and 'nan' values
Error in height check, line with Oliver Luck 'nan' and 'nan' values
Error in height check, line with Matt Kofler 'nan' and 'nan' values
Error in height check, line with Mike Pagel 'nan' and 'nan' values
Error in height check, line with Mike Kelley 'nan' and 'nan' values
Error in height check, line with Mike Machurek 'nan' and 'nan' values
Error in height check, line with John Elway 'nan' and 'nan' values
Error in height check, line with Todd Blackledge 'nan' and 'nan' values
Error in height check, line with Jim Kelly 'nan' and 'nan' values
Error in height check, line with Tony Eason 'nan' and 'nan' values
Error in height check, line with Ken O'Brien 'nan' and 'nan' values
Error in height check, line with Dan Marino 'nan' and 'nan' values
Error in height check, line with Jeff Christensen 'nan' and 'nan' values
Error in height check, line with Reggie Collier 'nan' and 'nan' values
Error in height check, line with Babe Laufenberg 'nan' and 'nan' values
Error in height check, line with Boomer Esiason 'nan' and 'nan' values
Error in height check, line with Jeff Hostetler 'nan' and 'nan' values
Error in height check, line with Rick McIvor 'nan' and 'nan' values
Error in height check, line with Jay Schroeder 'nan' and 'nan' values
Error in height check, line with Steve Pelluer 'nan' and 'nan' values
Error in height check, line with Dean May 'nan' and 'nan' values
Error in height check, line with Ben Bennett 'nan' and 'nan' values
Error in height check, line with Randy Wright 'nan' and 'nan' values
Error in height check, line with Terry Nugent 'nan' and 'nan' values
Error in height check, line with John Witkowski 'nan' and 'nan' values
Error in height check, line with Scott Campbell 'nan' and 'nan' values
Error in height check, line with Randall Cunningham 'nan' and 'nan' values
Error in height check, line with Frank Reich 'nan' and 'nan' values
Error in height check, line with Steve Bono 'nan' and 'nan' values
Error in height check, line with Rusty Hilger 'nan' and 'nan' values
Error in height check, line with Scott Barry 'nan' and 'nan' values
Error in height check, line with Jim Everett 'nan' and 'nan' values
Error in height check, line with Chuck Long 'nan' and 'nan' values
Error in height check, line with Jack Trudeau 'nan' and 'nan' values
Error in height check, line with Bubby Brister 'nan' and 'nan' values
Error in height check, line with Hugh Millen 'nan' and 'nan' values
Error in height check, line with Robbie Bosco 'nan' and 'nan' values
Error in height check, line with Doug Gaynor 'nan' and 'nan' values
Error in height check, line with Mark Rypien 'nan' and 'nan' values
Error in height check, line with Stan Gelbaugh 'nan' and 'nan' values
Error in height check, line with Mike Norseth 'nan' and 'nan' values
Error in height check, line with Vinny Testaverde 'nan' and 'nan' values
Error in height check, line with Kelly Stouffer 'nan' and 'nan' values
Error in height check, line with Chris Miller 'nan' and 'nan' values
Error in height check, line with Jim Harbaugh 'nan' and 'nan' values
Error in height check, line with Cody Carlson 'nan' and 'nan' values
Error in height check, line with Mark Vlasic 'nan' and 'nan' values
Error in height check, line with Rich Gannon 'nan' and 'nan' values
Error in height check, line with Troy Stradford 'nan' and 'nan' values
Error in height check, line with Steve Beuerlein 'nan' and 'nan' values
Error in height check, line with Kevin Sweeney 'nan' and 'nan' values
Error in height check, line with Doug Hudson 'nan' and 'nan' values
Error in height check, line with Troy Aikman 'nan' and 'nan' values
Error in height check, line with Mike Elkins 'nan' and 'nan' values
Error in height check, line with Billy Joe Tolliver 'nan' and 'nan' values
Error in height check, line with Anthony Dilweg 'nan' and 'nan' values
Error in height check, line with Erik Wilhelm 'nan' and 'nan' values
Error in height check, line with Jeff Graham 'nan' and 'nan' values
Error in height check, line with Jeff Carlson 'nan' and 'nan' values
Error in height check, line with Jeff Francis 'nan' and 'nan' values
Error in height check, line with Rodney Peete 'nan' and 'nan' values
Error in height check, line with Brent Snyder 'nan' and 'nan' values
Error in height check, line with Terrence Jones 'nan' and 'nan' values
Error in height check, line with Jeff George 'nan' and 'nan' values
Error in height check, line with Andre Ware 'nan' and 'nan' values
Error in height check, line with Tommy Hodson 'nan' and 'nan' values
Error in height check, line with Peter Tom Willis 'nan' and 'nan' values
Error in height check, line with Neil O'Donnell 'nan' and 'nan' values
Error in height check, line with Troy Taylor 'nan' and 'nan' values
Error in height check, line with Cary Conklin 'nan' and 'nan' values
Error in height check, line with Scott Mitchell 'nan' and 'nan' values
Error in height check, line with Craig Kupp 'nan' and 'nan' values
Error in height check, line with John Friesz 'nan' and 'nan' values
Error in height check, line with Mike Buck 'nan' and 'nan' values
Error in height check, line with Dan McGwire 'nan' and 'nan' values
Error in height check, line with Todd Marinovich 'nan' and 'nan' values
Error in height check, line with Brett Favre 'nan' and 'nan' values
Error in height check, line with Browning Nagle 'nan' and 'nan' values
Error in height check, line with Scott Zolak 'nan' and 'nan' values
Error in height check, line with Donald Hollas 'nan' and 'nan' values
Error in height check, line with Bill Musgrave 'nan' and 'nan' values
Error in height check, line with Craig Erickson 'nan' and 'nan' values
Error in height check, line with Craig Erickson 'nan' and 'nan' values
Error in height check, line with Craig Erickson 'nan' and 'nan' values
Error in height check, line with Craig Erickson 'nan' and 'nan' values
Error in height check, line with Paul Justin 'nan' and 'nan' values
Error in height check, line with David Klingler 'nan' and 'nan' values
Error in height check, line with Tommy Maddox 'nan' and 'nan' values
Error in height check, line with Matt Blundin 'nan' and 'nan' values
Error in height check, line with Tony Sacca 'nan' and 'nan' values
Error in height check, line with Casey Weldon 'nan' and 'nan' values
Error in height check, line with Will Furrer 'nan' and 'nan' values
Error in height check, line with Chris Hakel 'nan' and 'nan' values
Error in height check, line with Jeff Blake 'nan' and 'nan' values
Error in height check, line with Drew Bledsoe 'nan' and 'nan' values
Error in height check, line with Rick Mirer 'nan' and 'nan' values
Error in height check, line with Billy Joe Hobert 'nan' and 'nan' values
Error in height check, line with Mark Brunell 'nan' and 'nan' values
Error in height check, line with Gino Torretta 'nan' and 'nan' values
Error in height check, line with Heath Shuler 'nan' and 'nan' values
Error in height check, line with Trent Dilfer 'nan' and 'nan' values
Error in height check, line with Perry Klein 'nan' and 'nan' values
Error in height check, line with Doug Nussmeier 'nan' and 'nan' values
Error in height check, line with Jim Miller 'nan' and 'nan' values
Error in height check, line with Gus Frerotte 'nan' and 'nan' values
Error in height check, line with Jay Walker 'nan' and 'nan' values
Error in height check, line with Steve Matthews 'nan' and 'nan' values
Error in height check, line with Glenn Foley 'nan' and 'nan' values
Error in height check, line with Wally Richardson 'nan' and 'nan' values
Error in height check, line with Tony Corbin 'nan' and 'nan' values
Error in height check, line with Ronnie McAda 'nan' and 'nan' values
Error in height check, line with Moses Moreno 'nan' and 'nan' values
Error in height check, line with Chris Greisen 'nan' and 'nan' values
Error in height check, line with Chris Redman 'nan' and 'nan' values
Error in height check, line with Steve McNair 'nan' and 'nan' values
Error in height check, line with Kerry Collins 'nan' and 'nan' values
Error in height check, line with Todd Collins 'nan' and 'nan' values
Error in height check, line with Kordell Stewart 'nan' and 'nan' values
Error in height check, line with Stoney Case 'nan' and 'nan' values
Error in height check, line with Eric Zeier 'nan' and 'nan' values
Error in height check, line with Rob Johnson 'nan' and 'nan' values
Error in height check, line with Chad May 'nan' and 'nan' values
Error in height check, line with Dave Barr 'nan' and 'nan' values
Error in height check, line with Steve Stenstrom 'nan' and 'nan' values
Error in height check, line with Jay Barker 'nan' and 'nan' values
Error in height check, line with Jerry Colquitt 'nan' and 'nan' values
Error in height check, line with Craig Whelihan 'nan' and 'nan' values
Error in height check, line with John Walsh 'nan' and 'nan' values
Error in height check, line with Jim Druckenmiller 'nan' and 'nan' values
Error in height check, line with Jake Plummer 'nan' and 'nan' values
Error in height check, line with Danny Wuerffel 'nan' and 'nan' values
Error in height check, line with Pat Barnes 'nan' and 'nan' values
Error in height check, line with Mike Cherry 'nan' and 'nan' values
Error in height check, line with Chuck Clements 'nan' and 'nan' values
Error in height check, line with Tony Graziani 'nan' and 'nan' values
Error in height check, line with Koy Detmer 'nan' and 'nan' values
Error in height check, line with Peyton Manning 'nan' and 'nan' values
Error in height check, line with Ryan Leaf 'nan' and 'nan' values
Error in height check, line with Charlie Batch 'nan' and 'nan' values
Error in height check, line with Jonathan Quinn 'nan' and 'nan' values
Error in height check, line with Brian Griese 'nan' and 'nan' values
Error in height check, line with John Dutton 'nan' and 'nan' values
Error in height check, line with Matt Hasselbeck 'nan' and 'nan' values
Error in height check, line with Tim Couch 'nan' and 'nan' values
Error in height check, line with Donovan McNabb 'nan' and 'nan' values
Error in height check, line with Akili Smith 'nan' and 'nan' values
Error in height check, line with Daunte Culpepper 'nan' and 'nan' values
Error in height check, line with Cade McNown 'nan' and 'nan' values
Error in height check, line with Shaun King 'nan' and 'nan' values
Error in height check, line with Brock Huard 'nan' and 'nan' values
Error in height check, line with Joe Germaine 'nan' and 'nan' values
Error in height check, line with Aaron Brooks 'nan' and 'nan' values
Error in height check, line with Kevin Daft 'nan' and 'nan' values
Error in height check, line with Michael Bishop 'nan' and 'nan' values

,_merge,alt_player_id_prof,draft_year,grade,grade_prof,guid,guid_prof,height,height_prof,overall,...,school_prof,team,team_abbr,text1_prof,text2_prof,text3_prof,trade_note,traded,weight,weight_prof
0,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,Florida,San Francisco 49ers,SF,NaN,NaN,NaN,from Atlanta,False,NaN,NaN
1,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,Purdue,Miami Dolphins,MIA,NaN,NaN,NaN,NaN,False,NaN,NaN
2,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,25.0,...,San Diego State,Green Bay Packers,GB,NaN,NaN,NaN,NaN,False,NaN,NaN
3,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,27.0,...,Houston,New Orleans Saints,NO,NaN,NaN,NaN,NaN,False,NaN,NaN
4,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,30.0,...,Virginia,Houston Oilers,TEN,NaN,NaN,NaN,NaN,False,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 621 entries, 0 to 620
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   _merge              621 non-null    category
 1   alt_player_id_prof  289 non-null    float64
 2   draft_year          621 non-null    int64
 3   grade               278 non-null    float64
 4   grade_prof          268 non-null    float64
 5   guid                299 non-null    object
 6   guid_prof           290 non-null    object
 7   height              280 non-null    float64
 8   height_prof         270 non-null    float64
 9   overall             557 non-null    float64
 10  ovr_rk              248 non-null    float64
 11  ovr_rk_prof         242 non-null    float64
 12  pick                557 non-null    float64
 13  player_id           621 non-null    int64
 14  player_id_prof      606 non-null    float64
 15  player_name         621 non-null    object
 16  player_name_match   606 non-null    object
 17  player_name_prof    606 non-null    object
 18  pos_abbr            621 non-null    object
 19  pos_abbr_prof       606 non-null    object
 20  pos_rk              278 non-null    float64
 21  pos_rk_prof         268 non-null    float64
 22  round               557 non-null    float64
 23  school              621 non-null    object
 24  school_prof         606 non-null    object
 25  team                557 non-null    object
 26  team_abbr           557 non-null    object
 27  text1_prof          148 non-null    object
 28  text2_prof          177 non-null    object
 29  text3_prof          37 non-null     object
 30  trade_note          222 non-null    object
 31  traded              557 non-null    object
 32  weight              319 non-null    float64
 33  weight_prof         309 non-null    float64
dtypes: category(1), float64(15), int64(2), object(16)
memory usage: 161.0+ KB

None

In [36]:
# Compare pairs of columns (eg. ('height', 'height_prof'), ('school', 'school_prof'))
# Print whether they are identical.
# Drop the redundant columns.

df = merged_df.copy()

# Function to check for redundancy and drop duplicate columns
def remove_redundant_columns(df, column_pairs):
    for col1, col2 in column_pairs:
        if df[col1].equals(df[col2]):
            print(f'{col1} and {col2} are identical. Dropping {col2}.')
            df.drop(columns=[col2], inplace=True)
        else:
            print(f'{col1} and {col2} are not identical.')
    return df

column_pairs = [('height', 'height_prof'), ('school', 'school_prof')]
df_cleaned = remove_redundant_columns(df, column_pairs)

display(df_cleaned.head())

height and height_prof are not identical.
school and school_prof are not identical.

,_merge,alt_player_id_prof,draft_year,grade,grade_prof,guid,guid_prof,height,height_prof,overall,...,school_prof,team,team_abbr,text1_prof,text2_prof,text3_prof,trade_note,traded,weight,weight_prof
0,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,Florida,San Francisco 49ers,SF,NaN,NaN,NaN,from Atlanta,False,NaN,NaN
1,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,Purdue,Miami Dolphins,MIA,NaN,NaN,NaN,NaN,False,NaN,NaN
2,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,25.0,...,San Diego State,Green Bay Packers,GB,NaN,NaN,NaN,NaN,False,NaN,NaN
3,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,27.0,...,Houston,New Orleans Saints,NO,NaN,NaN,NaN,NaN,False,NaN,NaN
4,both,NaN,1967,NaN,NaN,NaN,NaN,NaN,NaN,30.0,...,Virginia,Houston Oilers,TEN,NaN,NaN,NaN,NaN,False,NaN,NaN

In [37]:
# Order the cells to make compares a bit easier:
cols = ['pos_abbr', 'pos_abbr_prof', 
        'player_id', 'player_id_prof', 'alt_player_id_prof', 
        'guid', 'guid_prof',
        'player_name', 'player_name_prof',
        'school', 'school_prof',
        'draft_year', 'team', 'team_abbr',
        'pick', 'overall', 'round', 'traded', 'trade_note',
        'weight', 'height', 'weight_prof', 'height_prof',
        'pos_rk', 'pos_rk_prof',
        'ovr_rk', 'ovr_rk_prof', 'grade', 'grade_prof', 
        'text1_prof', 'text2_prof', 'text3_prof']

col_pairs = merged_df[cols]
display(col_pairs.head())

,pos_abbr,pos_abbr_prof,player_id,player_id_prof,alt_player_id_prof,guid,guid_prof,player_name,player_name_prof,school,...,height_prof,pos_rk,pos_rk_prof,ovr_rk,ovr_rk_prof,grade,grade_prof,text1_prof,text2_prof,text3_prof
0,QB,QB,23592,23592.0,NaN,NaN,NaN,Steve Spurrier,Steve Spurrier,Florida,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,QB,QB,23593,23593.0,NaN,NaN,NaN,Bob Griese,Bob Griese,Purdue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,QB,QB,23614,23614.0,NaN,NaN,NaN,Don Horn,Don Horn,San Diego State,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,QB,QB,23616,23616.0,NaN,NaN,NaN,Bo Burris,Bo Burris,Houston,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,QB,QB,23619,23619.0,NaN,NaN,NaN,Bob Davis,Bob Davis,Virginia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# Let's compare values in columns that 'should' have identical data: 
 List of column pairs to compare
column_pairs = [
    ('pos_abbr', 'pos_abbr_prof'),
    ('player_name', 'player_name_prof'),
    ('player_id', 'player_id_prof'),
    ('pos_rk', 'pos_rk_prof')
]

# Compare each pair of columns and store the results
for col1, col2 in column_pairs:
    comparison_results[f'{col1}_vs_{col2}'] = df[col1] == df[col2]

# Identify rows where there are mismatches
mismatches = comparison_results[~comparison_results.all(axis=1)]

# Get the indices of the mismatched rows
mismatch_indices = mismatches.index

# Display the mismatched rows from the original DataFrame
mismatched_rows = df.loc[mismatch_indices]

# Display the summary of mismatches
summary = mismatches.sum()

print("Summary of mismatches:")
print(summary)
print("\nRows with mismatches:")
print(mismatched_rows

IndentationError: unexpected indent (3324664283.py, line 2)

ids.csv

Information for joining a player's ESPN ID (commonly referred to as player_id in many datasets) with their ID in the nflfastR package. At this time, it only has data for QB's

In [20]:
# used to correlate tables: 
csv_ids = r"Resources\ids.csv"
ids_df = pd.read_csv(csv_ids)

display('player_ids:')
display(ids_df.head())
display(ids_df.info())

'player_ids:'

   espn_id         player_name nflfastR_id
0    18692          Dan Marino  00-0010379
1    19373  Randall Cunningham  00-0003761
2    19739       Bubby Brister  00-0001785
3    20006    Vinny Testaverde  00-0016193
4    20018        Chris Miller  00-0011244

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   espn_id      236 non-null    int64
 1   player_name  236 non-null    object
 2   nflfastR_id  236 non-null    object
dtypes: int64(1), object(2)
memory usage: 5.7+ KB

None

In [68]:
ids_df = ids_df[['player_name', 'espn_id']]
ids_df.head()

          player_name  espn_id
0          Dan Marino    18692
1  Randall Cunningham    19373
2       Bubby Brister    19739
3    Vinny Testaverde    20006
4        Chris Miller    20018

In [ ]:
#Export csv for Prospects
csv_path = "Resources\ids_clean.csv"
qb_profiles_clean_df.to_csv(csv_path, index=False)

college_qbr.csv

ESPN college QB QBR metrics for every quarterback in college football since 2004. 
Please join in this dataset using guid and player_name.

In [ ]:

# detailed quarterback college performance statistics
csv_qbr = r"Resources\college_qbr.csv"
qbr_df = pd.read_csv(csv_qbr) # remove index?  ISO


display('/n QBR ratings:')
display(qbr_df.head())
display(qbr_df.info())

college_stats.csv
player_id

NFL draft prospect counting statistics in college. Includes counting statistics like interceptions, tackles, receiving touchdowns, passing touchdowns, etc. by a player's college season.

In [ ]:


# data on QB college statistics
csv_stats = r"Resources\college_statistics.csv"
stats_df = pd.read_csv(csv_stats)


display('/n QB college stats:')
display(stats_df.head())
display(stats_df.info())

In [9]:
# #Export csv
# csv_path = "Resources/qb_earnings_data.csv"
# df.to_csv(csv_path, index=False)

In [10]:
# Save as Pickle; pickle.dump to store data
pickle_path = 'Resources/acclaimed_albums_genres.pkl'
with open(pickle_path, 'wb') as file:
    pickle.dump(df, file)

In [ ]:
# Reload Dataframe from pkl file, with rb 'read binary'
# with open(pickle_path', 'rb') as file:
#     df = pickle.load(file)